{% macro radiosWithNestedCheckboxes(question) %}
    {% if question.primaryQuestion.errorMessage %}
        {% set govukFormGroupErrorOuter  =  'govuk-form-group--error' %}
        {% set primaryErrorMessageText = question.primaryQuestion.errorMessage.text %}
    {% endif %}

    {% if not question.primaryQuestion.errorMessage and question.followUpQuestion.errorMessage.text %}
        {% set govukFormGroupErrorInner  =  'govuk-form-group--error' %}
        {% set followUpErrorMessageText = question.followUpQuestion.errorMessage.text %}
    {% endif %}

    <div class="govuk-form-group  {{govukFormGroupErrorOuter}}">
        <fieldset class="govuk-fieldset">
            <!-- primary -->
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                {{question.primaryQuestion.text}}
            </legend>
            <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span>
      {{ primaryErrorMessageText}}
    </span>
            <div class="govuk-!-margin-bottom-6">
                <div class="govuk-radios--inline" data-module="govuk-radios">
                    {% set name = question.primaryQuestion.name %}
                    {% for option in question.primaryQuestion.options %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                    {% if loop.index === 1 %}
                                        id={{ name }}
                                    {% else %}
                                        id="id-{{ name }}-{{ loop.index }}"
                                    {% endif %}
                                   name="{{ name }}"
                                   type="radio"
                                   value="{{ option.value }}"
                                    {% if option.value === true %} data-aria-controls="conditional-{{ name }}" {% endif %}
                                    {% if option.value === question.primaryQuestion.value %} checked {% endif %}>
                            <label class="govuk-label govuk-radios__label"
                                    {% if loop.index === 1 %}
                            for={{ name }}
                                    {% else %}
                                        for="id-{{ name }}-{{ loop.index }}"
                                    {% endif %}>
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}

                    <!-- followup -->
                    <div class="govuk-radios__conditional  clear-both" data-module="govuk-checkboxes" id="conditional-{{ name }}">
                        <div class="{{ govukFormGroupErrorInner }}">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                                    {{ question.followUpQuestion.text }}
                                </legend>

                                {% if followUpErrorMessageText %}
                                    <span class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>{{ followUpErrorMessageText }}</span>
                                {% endif %}

                                {% set name = question.followUpQuestion.name %}
                                {% for option in question.followUpQuestion.options %}

                                    <div class="govuk-checkboxes__item ">
                                        <input class="govuk-checkboxes__input"
                                                {% if loop.index === 1 %}
                                                    id={{ name }}
                                                {% else %}
                                                    id="id-{{ name }}-{{ loop.index }}"
                                                {% endif %}
                                               name="{{ name }}[{{ loop.index }}]"
                                               type="checkbox"
                                               value="{{ option.value }}"
                                                {% if option.value in question.followUpQuestion.value %} checked {% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label"
                                                {% if loop.index === 1 %}
                                        for={{ name }}
                                                {% else %}
                                                    for="id-{{ name }}-{{ loop.index }}"
                                                {% endif %}>
                                            {{ option.label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

{% endmacro %}
