{% extends "../formTemplate.html" %}
{% from "../../macros.njk" import submitLink %}
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/radios/macro.njk" import govukRadios %} 
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = 'Staff involved in use of force' %}

{% block formItems %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>
        {% set rows = [] %}

        {% for item in data.staff %}
        {% set rows = (rows.push([
            {
            text: item.name
            },
            {
              text: item.prison | default('None', true)
            },
            {
              text: item.email | default('No email address', true) 
            },
            {
              classes: 'delete-staff',
              html: '<a class="govuk-link govuk-link--no-visited-state" data-qa="delete-'+ item.username +'" href="/report/' + data.bookingId + '/delete-staff-member/' + item.username + '">Delete staff member</a>' if not item.isReporter
            }
        ]), rows) %}
        {% endfor %}

        
        {{ govukTable({
          classes: "added-involved-staff govuk-!-margin-bottom-9",
          head: [
            {
              text: "Name",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "Prison",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "Email address",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "",
              classes: 'govuk-!-width-one-quarter'
            }
          ],
          rows: rows
        }) }}
   
        {{ 
            govukRadios({
                classes: "govuk-radios--inline",
                name: "addMore",
                fieldset: {
                    legend: {
                      text: "Do you want to add another member of staff?",
                      classes: "govuk-fieldset__legend--s"
                    }
                },
                items: [
                {
                    value: "yes",
                    id: "confirm",
                    text: "Yes"
                },
                {
                    value: "no",
                    id: "noMoreToAdd",
                    text: "No"
                }
                ]
            }) 
        }}
  </div>
</div>
{% endblock %}
