{% extends "../../partials/layout.html" %} 
{% from "../../macros.njk" import submitLink %}
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "What is the staff member's name?" %}

{% block content %}
<div class="govuk-grid-row govuk-body">
  {% if errors.length > 0 %}
  {{
    govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
  </div>
  <div class="govuk-grid-column-three-quarters">

    <div>
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />


        {% call govukFieldset({
        }) %}

          {{ govukInput({
              label: {
                text: 'First name'
              },
              id: "firstName",
              name: "firstName",
              value: firstName,
              classes: "govuk-input--width-20"
          }) }}
        

          {{ govukInput({
            label: {
              text: 'Last name'
            },
            id: "lastName",
            name: "lastName",
            value: lastName,
            classes: "govuk-input--width-20"
          }) }}

        {% endcall %}
      
        {{
          govukButton({
            text: 'Continue',
            classes: 'govuk-button',
            attributes: { 'data-qa': 'continue', 'data-submit': true }
          })
        }}

      <br/>
      <div>
        <a href="/report/{{ bookingId }}/staff-involved" class="govuk-link govuk-link--no-visited-state" data-qa="return-to-staff-involved">Return to staff involved in use of force</a>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
