{% extends "../formTemplate.html" %} {% from "input/macro.njk" import govukInput %} {% from "radios/macro.njk" import
govukRadios %} {% from "select/macro.njk" import govukSelect %}{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incidentMacro %}

{% block formItems %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl mainHeading">Use of force details</h1>

    <!-- Q1 -->
    {{ incidentMacro.radiosWithNestedRadios( 
          {
            "primaryQuestion": {
              "text": "Was Positive Communication used to de-escalate the situation?",
              "name": "positiveCommunication",
              "value": data.positiveCommunication,
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, {
                "value": "No",
                "label": "No"
              }]
            }
          }
          )
         }}

    <!-- Q2 -->
    {{ incidentMacro.radiosWithNestedRadios( 
          {
            "primaryQuestion": {
              "text": "Were any Personal Protection techniques used?",
              "name": "personalProtectionTechniques",
              "value": data.personalProtectionTechniques,
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, {
                "value": "No",
                "label": "No"
              }]
            }
          }
          )
         }}

    <!-- Q3 -->
    {{ incidentMacro.radiosWithNestedRadios( 
          {
            "primaryQuestion": {
              "text": "Was a baton drawn?",
              "name": "batonDrawn",
              "value": data.batonDrawn,
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, 
              {
                "value": "No",
                "label": "No"
              }
              ]
            },
            "followUpQuestion": {
              "text": "Was it used?",
              "value": data.batonUsed,
              "name": "batonUsed",
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, 
              {
                "value": "No",
                "label": "No"
              }
              ]
            }
          }
          )
         }}

    <!-- Q4 -->
    {{ incidentMacro.radiosWithNestedRadios( 
          {
            "primaryQuestion": {
              "text": "Was pava drawn?",
              "name": "pavaDrawn",
              "value": data.pavaDrawn,
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, {
                "value": "no",
                "label": "No"
              }]
            },
            "followUpQuestion": {
              "text": "Was it used?",
              "name": "pavaUsed",
              "value": data.pavaUsed,
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, {
                "value": "no",
                "label": "No"
              }]
            }
          }
          )
        }}

    <!-- Q5 -->
    {{ incidentMacro.radiosWithNestedRadios( 
          {
            "primaryQuestion": {
              "text": "Was a guiding hold used?",
              "name": "guidingHold",
              "value": data.guidingHold,
              "options": [{
                "value": "Yes",
                "label": "Yes"
              }, 
              {
                "value": "No",
                "label": "No"
              }
           ]
            },
            "followUpQuestion": {
              "text": "How many officers were involved?",
              "name": "guidingHoldOfficersInvolved",
              "value": data.guidingHoldOfficersInvolved,
              "options": [{
                "value": 'one',
                "label": "One"
              }, 
              {
                "value": 'two',
                "label": "Two"
              }]
            }
          }
          )
        }}
    <!-- Q6 -->
    {{ incidentMacro.radiosWithNestedCheckboxes({
          "primaryQuestion": {
            "text": "Was control and restraint used?",
            "name": "restraint",
            "value": data.restraint,
            "options": [{
              "value": "Yes",
              "label": "Yes"
            }, {
              "value": "No",
              "label": "No"
            }]
          },
          "followUpQuestion": {
            "text": "What positions were used?",
            "name": "restraintPositions",
            "value": data.restraintPositions or [],
            "options": [{
              "value": "standing",
              "label": "standing"
            }, {
              "value": "supine",
              "label": "On back (supine)"
            }, {
              "value": "prone",
              "label": "Face down (prone)"
            }, {
              "value": "kneeling",
              "label": "Kneeling"
            }]
          }
        }) 
      }}

    <!-- Q7 -->
    {{ incidentMacro.radiosWithNestedRadios( 
        {
          "primaryQuestion": {
            "text": "Were handcuffs applied?",
            "name": "handcuffsApplied",
            "value": data.handcuffsApplied,
            "options": [{
              "value": "Yes",
              "label": "Yes"
            }, {
              "value": "No",
              "label": "No"
            }]
          },
          "followUpQuestion": {
            "text": "Select which type of handcuffs were used",
            "name": "handcuffsType",
            "value": data.handcuffsType,
            "options": [{
              "value": "ratchet",
              "label": "Ratchet"
            }, {
              "value": "fixed bar",
              "label": "Fixed bar"
            }]
          }
        }
        )
        }}
  </div>
</div>

{% endblock %}