{% extends "../formTemplate.html" %} {% from "input/macro.njk" import govukInput %} {% from "radios/macro.njk" import
govukRadios %} {% from "select/macro.njk" import govukSelect %}{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incMcr %}

{% set questions = {
    baton : {
      'primaryQuestion':'Was a baton drawn?',
      'primaryName': 'batonDrawn', 
      'primaryOpt1':'yes', 
      'primaryOpt2': 'no', 
      'secondaryQuestion': 'Was it used?', 
      'secondaryName': 'batonUsed', 
      'secondaryOpt1': 'yes', 
      'secondaryOpt2': 'no'
    },
    pava: {
      'primaryQuestion':'Was pava drawn?',
      'primaryName': 'pavaDrawn', 
      'primaryOpt1':'yes', 
      'primaryOpt2': 'no', 
      'secondaryQuestion': 'Was it used?', 
      'secondaryName': 'pavaUsed', 
      'secondaryOpt1': 'yes', 
      'secondaryOpt2': 'no'
    },
    guidingHold: {
      'primaryQuestion':'Was a guiding hold used?',
      'primaryName': 'guidingHold', 
      'primaryOpt1':'yes', 
      'primaryOpt2': 'no', 
      'secondaryQuestion': 'How many officers were involved?', 
      'secondaryName': 'guidingHoldOfficersInvolved', 
      'secondaryOpt1': 'one', 
      'secondaryOpt2': 'two'
    },
    restraint: {
      'primaryQuestion':'Was control and restraint used?',
      'primaryName': 'restraint', 
      'primaryOpt1':'yes', 
      'primaryOpt2': 'no', 
      'secondaryQuestion': 'What positions were used?', 
      'secondaryName': 'restraintPositions', 
      'secondaryOpt1': 'standing', 
      'secondaryOpt2': 'on back (supine)', 
      'secondaryOpt3': 'face down (prone)', 
      'secondaryOpt4': 'kneeling'
    },
    handcuffs: {
      'primaryQuestion':'Were handcuffs applied?',
      'primaryName': 'handcuffsApplied', 
      'primaryOpt1':'yes', 
      'primaryOpt2': 'no', 
      'secondaryQuestion': 'Select which type of handcuffs were used', 
      'secondaryName': 'handcuffsType', 
      'secondaryOpt1': 'ratchet', 
      'secondaryOpt2': 'fixed bar'
    }
  }
%}


{% block formItems %} 

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl mainHeading">Use of force details</h1>
        <!-- Q1  -->
        {{
          govukRadios({
            classes: 'govuk-radios--inline govuk-!-margin-bottom-6',
            idPrefix: 'positive-communication',
            name: 'positiveCommunication',
            fieldset: {
              legend: {
                text: 'Was Positive Communication used to de-escalate the situation?',
                isPageHeading: false,
                classes: 'govuk-body'
              }
            },
            items: [
              {
                value: 'yes',
                text: 'Yes'
              },
              {
                value: 'no',
                text: 'No'
              }
            ]
          })
        }}

        <!-- Q2 -->
        {{
          govukRadios({
            classes: 'govuk-radios--inline govuk-!-margin-bottom-6',
            idPrefix: 'personal-protection-techniques',
            name: 'personalProtectionTechniques',
            fieldset: {
              legend: {
                text: 'Were any Personal Protection techniques used?',
                isPageHeading: false,
                classes: 'govuk-body'
              }
            },
            items: [
              {
                value: 'yes',
                text: 'Yes'
              },
              {
                value: 'no',
                text: 'No'
              }
            ]
          })
        }}
        <!-- Q3 -->
        {{ incMcr.inlineConditionalRadiosWithNestedRadios(questions.baton) }}

        <!-- Q4 -->
        {{ incMcr.inlineConditionalRadiosWithNestedRadios(questions.pava) }}

        <!-- Q5 -->
        {{ incMcr.inlineConditionalRadiosWithNestedRadios(questions.guidingHold) }}
        
        <!-- Q6 -->
        {{ incMcr.inlineConditionalRadiosWithNestedCheckboxes(questions.restraint) }}

        <!-- Q7 -->
        {{ incMcr.inlineConditionalRadiosWithNestedRadios(questions.handcuffs) }}

      </div>
    </div>

{% endblock %}
