{% extends "../formTemplate.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incidentMacro %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = 'Evidence' %}

{% block formItems %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }} </h1>

      <!-- Q1 -->
      <div class="govuk-!-margin-bottom-9 govuk-form-group
        {% if errors | findError('baggedEvidence') %}
          govuk-form-group--error
          {% set bagTagErrMsg =  errors | findError('baggedEvidence') %}
        {% endif %}">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend ">
            Was any evidence bagged and tagged?
          </legend>
          <span id="bagTagErrMsg" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ bagTagErrMsg.text}}
          </span>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class=" govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="baggedEvidence" name="baggedEvidence" type="radio" value="true" data-aria-controls="bagged-evidence-conditional" {% if data.baggedEvidence === true %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="baggedEvidence">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bagged-evidence-no" name="baggedEvidence" type="radio" value="false" {% if data.baggedEvidence === false %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="bagged-evidence-no">
                  No
                </label>
              </div>
            </div>

            <!-- hidden panel starts here -->
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="bagged-evidence-conditional">

              <!-- add another starts here -->

              <div class="add-another-evidence list">
                {% macro addEvidence(index, evidenceTagAndDescription, showRemove) %}
                  {% call govukFieldset({ classes: 'add-another__item list-item' }) %}
                  <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter" id="evidenceTagAndDescription[{{index}}]">
                
                    {{
                      govukInput({
                        label: {
                          html: 'Tag number'
                        },
                        id: 'evidenceTagAndDescription[' + index + '][evidenceTagReference]',
                        name: 'evidenceTagAndDescription[' + index + '][evidenceTagReference]',
                        value: evidenceTagAndDescription.evidenceTagReference,
                        errorMessage: errors | findErrors(['evidenceTagAndDescription[' + index + ']','evidenceTagAndDescription[' + index + '][evidenceTagReference]']),
                        attributes: {
                          'data-name': 'evidenceTagAndDescription[%index%][evidenceTagReference]',
                          'data-id': 'evidenceTagAndDescription[%index%][evidenceTagReference]'
                        }
                      })
                    }}
                  </div>
                    <div class="govuk-grid-column-one-third remove-button-container govuk-!-margin-top-6">
                    {% if showRemove %}
                      <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
                        Remove
                      </button>
                    {% endif %}
                  </div>
                  </div>
                      <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">   
                    {{ govukTextarea({
                      name: 'evidenceTagAndDescription[' + index + '][description]',
                      id: 'evidenceTagAndDescription[' + index + '][description]',
                      value: evidenceTagAndDescription.description,
                      errorMessage: errors | findError('evidenceTagAndDescription[' + index + '][description]'),
                      label: {
                        text: "Description of evidence"
                      },
                      attributes:{
                        'data-id': 'evidenceTagAndDescription[%index%][description]',
                        'data-name': 'evidenceTagAndDescription[%index%][description]'
                      }
                    }) }}
                  </div>
              </div>

                  <hr class="govuk-grid-column-two-thirds"/>
                  {% endcall %}
                {% endmacro %}

                {% for item in data.evidenceTagAndDescription %}
                  {{ addEvidence(index = loop.index0, evidenceTagAndDescription = item, showRemove = loop.length != 1) }}
                {% else %}
                  {{ addEvidence(index = 0, evidenceTagAndDescription = null, showRemove = false) }}
                {% endfor %}  
                <div class="button-action  govuk-!-margin-top-5">
                  {{
                  govukButton({
                    text: 'Add another',
                    classes: 'govuk-button--secondary  add-another__add-button govuk-!-margin-bottom-4',
                    attributes: { 'data-qa-add-another-tag': true }
                  })
                }}
                </div>
              </div>
              <!-- add another ends here -->
            </div>
            <!-- hidden panel end -->
          </div>
          <!-- end of radios -->
        </fieldset>
      </div>
      <!-- end of this component -->

      <!-- Q2 -->
      <div class="govuk-!-margin-bottom-9">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "photographsTaken",
          name: "photographsTaken",
          "value":data.photographsTaken,
          errorMessage: errors | findError('photographsTaken'),
          fieldset: {
            legend: {
              text: "Were any photographs taken?",
              isPageHeading: false,
              classes: "govuk-fieldset"
            }
          },
          items: [
            {
              value: true,
              text: "Yes",
              checked: data.photographsTaken === true
            },
            {
              value: false,
              text: "No",
              checked: data.photographsTaken === false
            }
          ]
        }) 
        }}
      </div>

      <!-- Q3 -->

      <div class="govuk-!-margin-bottom-9">
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "cctvRecording",
            name: "cctvRecording",
            "value":data.cctvRecording,
            errorMessage: errors | findError('cctvRecording'),
            fieldset: {
              legend: {
                text: "Was any part of the incident captured on CCTV?",
                isPageHeading: false,
                classes: "govuk-fieldset"
              }
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: data.cctvRecording === 'YES'
              },
              {
                value: "NO",
                text: "No",
                checked: data.cctvRecording === 'NO'
              },
              {
                value: "NOT_KNOWN",
                text: "Not known",
                checked: data.cctvRecording === 'NOT_KNOWN'
              }
            ]
          }) 
          }}
      </div>

      <!-- Q4 -->

      <div class="govuk-!-margin-bottom-9
        {% if errors | findError('bodyWornCamera') %}
          govuk-form-group--error
          {% set cameraErrMsg =  errors | findError('bodyWornCamera') %}
        {% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend ">
            Was any part of the incident captured on a body-worn camera?
          </legend>
          <span id="cameraErrMsg" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ cameraErrMsg.text}}
          </span>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class=" govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bodyWornCamera" name="bodyWornCamera" type="radio" value="YES" data-aria-controls="body-worn-camera-conditional" {% if data.bodyWornCamera === 'YES' %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="bodyWornCamera">
                  Yes
                </label>
              </div>
              <!-- hidden panel starts here -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="body-worn-camera-conditional">

                <!-- add another starts here -->
                <div class="add-another-camera" id="bodyWornCameraNumbers">
                  {% macro addCameraNumber(index, value, showRemove) %}
                    {% call govukFieldset({ classes: 'add-another__item' }) %}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third" id="bodyWornCameraNumbers[{{index}}]">
                        {{
                        govukInput({
                          label: {
                            html: 'Camera number'
                          },
                          id: 'bodyWornCameraNumbers[' + index + '][cameraNum]',
                          name: 'bodyWornCameraNumbers[' + index + '][cameraNum]',
                          value: value,
                          errorMessage: errors | findErrors(['bodyWornCameraNumbers[' + index + ']', 'bodyWornCameraNumbers[' + index + '][cameraNum]']),
                          attributes: {
                            'data-name': 'bodyWornCameraNumbers[%index%][cameraNum]',
                            'data-id': 'bodyWornCameraNumbers[%index%][cameraNum]'
                          }
                          })
                        }}
                        </div>
                        <div class="govuk-grid-column-one-third remove-button-container govuk-!-margin-top-6">
                          {% if showRemove %}
                            <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
                            Remove
                            </button>
                          {% endif  %}
                        </div>
                    </div>  
                    {% endcall %}
                  {% endmacro%}

                  {% for camera in data.bodyWornCameraNumbers %}
                    {{ addCameraNumber(index = loop.index0, value = camera.cameraNum, showRemove = loop.length != 1) }}
                  {% else %}
                    {{ addCameraNumber(index = 0, value = null, showRemove = false) }}
                  {% endfor %}
                  <div class="button-action">
                    {{
                    govukButton({
                      text: 'Add another',
                      classes: 'govuk-button--secondary  add-another__add-button govuk-!-margin-bottom-4',
                      attributes: { 'data-qa-add-another-camera': true }
                    })
                  }}
                  </div>
                </div>
                <!-- add another ends here -->
              </div>
              <!-- hidden panel end -->

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="body-worn-camera-no" name="bodyWornCamera" type="radio" value="NO" {% if data.bodyWornCamera === 'NO' %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="body-worn-camera-no">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="body-worn-camera-notKnown" name="bodyWornCamera" type="radio" value="NOT_KNOWN" {% if data.bodyWornCamera === 'NOT_KNOWN' %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="body-worn-camera-notKnown">
                  Not known
                </label>
              </div>
            </div>
          </div>
          <!-- end of radios -->
        </fieldset>
      </div>
      <!-- end of this Q4 component -->

    </div>
    <!-- end of govuk-grid-column-full-->
  </div>
  <!-- end of govuk-grid-row-->
{% endblock %}

{% block script %}
<script>
   new AddAnother($('.add-another-evidence'), '.remove-button-container')
    new AddAnother($('.add-another-camera'), '.remove-button-container')
</script>
{% endblock %}