git {% extends "../formTemplate.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "radios/macro.njk" import govukRadios %}
{% from "select/macro.njk" import govukSelect %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incidentMacro %}
{% from "fieldset/macro.njk" import govukFieldset %} 
{% from "button/macro.njk" import govukButton %} 
{% from "textarea/macro.njk" import govukTextarea %}

{% block formItems %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl mainHeading">Evidence</h1>
   
    <!-- Q1 -->
    <div class="govuk-!-margin-bottom-9">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend ">
          Was any evidence bagged and tagged?
        </legend>

        <div class="govuk-radios" data-module="radios">
          <div class=" govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bagged-evidence-yes" name="baggedEvidence" type="radio"
                value="Yes" data-aria-controls="bagged-evidence-conditional"
                {% if data.baggedEvidence === 'Yes' %} checked {% endif %}
              >
              <label class="govuk-label govuk-radios__label" for="bagged-evidence-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bagged-evidence-no" name="baggedEvidence" type="radio"
                value="No" 
                {% if data.baggedEvidence === 'No' %} checked {% endif %}
              >
              <label class="govuk-label govuk-radios__label" for="bagged-evidence-no">
                No
              </label>
            </div>
          </div>

          <!-- hidden panel starts here -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="bagged-evidence-conditional">

            <!-- add another starts here   -->

            <div class="add-another-tag">
              {%  for evidenceTagAndDescription in  data.evidenceTagAndDescription %} 

                {% call govukFieldset({ classes: 'add-another__item' }) %}
                  {{
                    govukInput({
                      label: {
                        html: 'Tag number'
                      },
                      classes: 'govuk-!-width-one-third',
                      id: 'evidence-tag-and-description[' + loop.index0 + '][evidenceTagReference]',
                      name: 'evidenceTagAndDescription[' + loop.index0 + '][evidenceTagReference]',
                      value: evidenceTagAndDescription.evidenceTagReference,
                      attributes: {
                        'data-name': 'evidenceTagAndDescription[%index%][evidenceTagReference]',
                        'data-id': 'evidence-tag-and-description[%index%][evidenceTagReference]'
                      }
                    })
                  }} 
                            
                  {{ govukTextarea({
                    name: 'evidenceTagAndDescription[' + loop.index0 + '][description]',
                    idPrefix: 'evidence-tag-and-description[' + loop.index0 + '][description]',
                    classes: 'govuk-!-width-two-thirds',
                    value: evidenceTagAndDescription.description,
                    label: {
                      text: "Description of evidence"
                    },
                    attributes:{
                      'data-id': 'evidence-tag-and-description[%index%][description]',
                      'data-name': 'evidenceTagAndDescription[%index%][description]',
                      'rows':10,
                      'columns': 40
                    }
                  }) }}

                  {% if loop.length != 1 %}
                    <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
                      Remove
                    </button>
                  {% endif  %}
                
                {% endcall %} 
                {% else %} 
                {% call govukFieldset({ classes: 'add-another__item' }) %}
                  
                  {{
                    govukInput({
                      label: {
                        html: 'Tag number'
                      },
                      classes: 'govuk-!-width-one-third',
                      id: 'evidence-tag-and-description[0][evidenceTagReference]',
                      name: 'evidenceTagAndDescription[0][evidenceTagReference]',
                      attributes: {
                        'data-name': 'evidenceTagAndDescription[%index%][evidenceTagReference]',
                        'data-id': 'evidence-tag-and-description[%index%][evidenceTagReference]'
                      }
                    })
                  }}
                  {{ govukInput({
                    idPrefix: 'evidence-tag-and-description[0][description]',
                    name: 'evidenceTagAndDescription[0][description]',
                    classes: "govuk-!-width-two-thirds",
                    value: data.evidenceTagAndDescription[0].description,
                    label: {
                      text: "Description of evidence"
                    },
                    attributes: {
                      'data-id': 'evidence-tag-and-description[%index%][description]',
                      'data-name': 'evidenceTagAndDescription[%index%][description]',
                      'rows':10,
                      'columns': 40
                    }
                  }) }}

                {% endcall %} 
              {% endfor %}
              <div class="button-action">
                {{
                  govukButton({
                    text: 'Add another',
                    classes: 'govuk-button--secondary  add-another__add-button govuk-!-margin-bottom-4',
                    attributes: { 'data-qa-add-another-tag': true }
                  })
                }}
              </div> 
            </div>  <!-- add another ends here -->
          </div>  <!-- hidden panel end -->
      </fieldset>     
    </div> <!-- end of this component  -->

    <!-- Q2 -->
    <div class="govuk-!-margin-bottom-9">
      {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "photographs-taken",
          name: "photographsTaken",
          "value":data.photographsTaken,
          fieldset: {
            legend: {
              text: "Were any photographs taken?",
              isPageHeading: false,
              classes: "govuk-fieldset"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data.photographsTaken === 'Yes'
            },
            {
              value: "No",
              text: "No",
              checked: data.photographsTaken === 'No'
            }
          ]
        }) 
        }}
    </div>

    <!-- Q3 -->
      
    <div class="govuk-!-margin-bottom-9">
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "cctv-recording",
            name: "cctvRecording",
            "value":data.cctvRecording,
            fieldset: {
              legend: {
                text: "Was any part of the incident captured on CCTV?",
                isPageHeading: false,
                classes: "govuk-fieldset"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: data.cctvRecording === 'Yes'
              },
              {
                value: "No",
                text: "No",
                checked: data.cctvRecording === 'No'
              },
              {
                value: "Not Known",
                text: "Not known",
                checked: data.cctvRecording === 'Not Known'
              }
            ]
          }) 
          }}
     </div>
    
    <!-- Q4 -->
    
    <div class="govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend ">
            Was any part of the incident captured on a body-worn camera?
          </legend>

          <div class="govuk-radios" data-module="radios">
            <div class=" govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="body-worn-camera-yes" name="bodyWornCamera" type="radio"
                  value="Yes" data-aria-controls="body-worn-camera-conditional"
                  {% if data.bodyWornCamera === 'Yes' %} checked {% endif %}
                >
                <label class="govuk-label govuk-radios__label" for="body-worn-camera-yes">
                  Yes
                </label>
              </div>
              <!-- hidden panel starts here -->
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="body-worn-camera-conditional">

              <!-- add another starts here   -->
    
              <div class="add-another-camera">
                {%  for camera in  data.bodyWornCameraNumbers %} 
    
                  {% call govukFieldset({ classes: 'add-another__item' }) %}
                    {{
                      govukInput({
                        label: {
                          html: 'Camera number'
                        },
                        classes: 'govuk-!-width-one-third',
                        id: 'body-worn-camera-numbers[' + loop.index0 + '][cameraNum]',
                        name: 'bodyWornCameraNumbers[' + loop.index0 + '][cameraNum]',
                        value: camera.cameraNum,
                        attributes: {
                          'data-name': 'bodyWornCameraNumbers[%index%][cameraNum]',
                          'data-id': 'bodyWornCameraNumbers[%index%][cameraNum]'
                        }
                      })
                    }} 
    
                  {% if loop.length != 1 %}
                  <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
                    Remove
                  </button>
                  {% endif  %}
                  
                  {% endcall %} 
                  {% else %} 
                  {% call govukFieldset({ classes: 'add-another__item' }) %}
                    
                    {{
                      govukInput({
                        label: {
                          html: 'Camera number'
                        },
                        classes: 'govuk-!-width-one-third',
                        id: 'body-worn-camera-numbers[0][cameraNum]',
                        name: 'bodyWornCameraNumbers[0][cameraNum]',
                        attributes: {
                          'data-name': 'bodyWornCameraNumbers[%index%][cameraNum]',
                          'data-id': 'bodyWornCameraNumbers[%index%][cameraNum]'
                        }
                      })
                    }}
    
                  {% endcall %} 
                {% endfor %}
                <div class="button-action">
                  {{
                    govukButton({
                      text: 'Add another',
                      classes: 'govuk-button--secondary  add-another__add-button govuk-!-margin-bottom-4',
                      attributes: { 'data-qa-add-another-camera': true }
                    })
                  }}
                </div> 
              </div>  <!-- add another ends here -->
            </div>  <!-- hidden panel end -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="body-worn-camera-no" name="bodyWornCamera" type="radio"
                value="No" 
                {% if data.bodyWornCamera === 'No' %} checked {% endif %}
              >
              <label class="govuk-label govuk-radios__label" for="body-worn-camera-no">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="body-worn-camera-notKnown" name="bodyWornCamera" type="radio"
                  value="Not known" 
                  {% if data.bodyWornCamera === 'Not known' %} checked {% endif %}
                >
                <label class="govuk-label govuk-radios__label" for="body-worn-camera-notKnown">
                  Not known
                </label>
              </div>
          </div>
        </fieldset>     
      </div> <!-- end of this Q4 component  -->

   </div>   <!-- end of govuk-grid-column-full-->
</div>    <!-- end of govuk-grid-row-->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/add-another.js"></script>
<script>
new AddAnother($('.add-another-tag'))
new AddAnother($('.add-another-camera'))

</script>

{% endblock %}
