{% extends "../formTemplate.html" %}
{% from  "../../macros.njk" import submitLink %}    
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set pageTitle = 'Incident details' %}
{% set showCancelEditButton = data.locationId %}

{% block formItems %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>
      <div class="govuk-!-margin-bottom-6">
        <p class="govuk-!-margin-bottom-1">
          <span class="govuk-label--s">Prisoner:&nbsp;</span>
          <span data-qa="offender-name"> {{ data.displayName }}</span>
        </p>
        {% set formattedDate = data.incidentDate.value | formatDate('D MMMM YYYY') %}
        {% set editDate = not formattedDate or errors | hasErrorWithPrefix(['incidentDate[value]','incidentDate[date]', 'incidentDate[isFutureDate]', 'incidentDate[isFutureDateTime]']) %}
        <p id="read-date" class="{{'hidden' if editDate }}">
          <span class="govuk-label--s">Date of incident:&nbsp;</span>
          <span data-qa="date-and-time">
            {{ formattedDate }} &nbsp;<a id="change-date" href="" class="govuk-link govuk-link--no-visited-state">Change</a>
          </span>
        </p>
        <div id="edit-date" class="edit-incident-date {{'hidden' if not editDate }}">
          {% macro errorClass(field) -%}
          {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'incidentDate[value]', 'incidentDate[isFutureDate]']) else '' }}
          {%- endmacro %}
          {{ govukDateInput({
          id: "incident-date",
          fieldset: {
            legend: {
              text: "Date of incident:",
              isPageHeading: false,
              classes: "govuk-label--s"
            }
          },
          errorMessage: errors | findErrors(
            ['incidentDate[date][day]', 'incidentDate[date][month]', 'incidentDate[date][year]',
            'incidentDate[isInvalidDate]', 'incidentDate[isFutureDate]', 'incidentDate[isFutureDateTime]']),
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
          {
            id: "incidentDate[date][day]",
            classes: "govuk-input--width-2" + errorClass('incidentDate[date][day]'),
            name: "incidentDate[date][day]",
            label: "Day",
            value: data.incidentDate.day,
            attributes: { 'data-qa': 'incident-date-day' }
          },
          {
            id: "incidentDate[date][month]",
            classes: "govuk-input--width-2" + errorClass('incidentDate[date][month]'),
            name: "incidentDate[date][month] ",
            label: "Month",
            value: data.incidentDate.month,
            attributes: { 'data-qa': 'incident-date-month' }
          },

          {
            id: "incidentDate[date][year]",
            classes: "govuk-input--width-4" + errorClass('incidentDate[date][year]'),
            name: "incidentDate[date][year]",
            label: "Year",
            value: data.incidentDate.year,
            attributes: { 'data-qa': 'incident-date-year' }
          }
        ]
        }) }}
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukInput({
          label: {
            text: 'Time of incident:'
          },
          id: 'incidentDate[time]',
          name: 'incidentDate[time]',
          classes: "govuk-input--width-4",
          hint: {
            text: "Use the 24 hour clock. For example, 14:30"
          },
          value: data.incidentDate.time,
          errorMessage: errors | findErrors(['incidentDate[time]', 'incidentDate[isFutureDateTime]']),
          attributes: { 'data-qa': 'incident-date-time' }
        })
      }}
      <hr />
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-bottom-3 govuk-!-padding-top-3">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-label--s">Prison:&nbsp;</span>
      <span data-qa="prison" id='prison'>
        {{ data.prison.description }} &nbsp;
        {{ 
          submitLink({
            label: 'Change<span class="govuk-visually-hidden"> prison </span>', 
            qa: 'change-prison-link', 
            value: 'save-and-change-prison'
          }) 
        }}
      </span>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukSelect({
          id: 'locationId',
          name: 'locationId',
          classes: 'govuk-!-width-one-third  govuk-!-margin-bottom-3',
          errorMessage: errors | findError('locationId'),
          label: {
            text: 'Where in '+ data.prison.description + ' did the incident happen?',
            isPageHeading: false,
            classes: 'govuk-label--xs govuk-!-margin-bottom-2'
          },
          items: data.locations | toSelect('locationId', 'userDescription', data.locationId )
        })
      }}
      <hr />
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-top-3">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "plannedUseOfForce",
        name: "plannedUseOfForce",
        errorMessage: errors | findError('plannedUseOfForce'),
        fieldset: {
          legend: {
            text: "Was the use of force planned?",
            isPageHeading: false,
            classes: "govuk-label govuk-label--xs"
          }
        },
        items: [
          {
            value: true,
            text: "Yes",
            checked: data.plannedUseOfForce === true
          },
          {
            value: false,
            text: "No",
            checked: data.plannedUseOfForce === false
          }
        ]
      }) }}
      <hr />
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-!-margin-bottom-1">Other staff involved in use of force</h3>
      <span class="govuk-hint">
        You do not have to add yourself
      </span>
      <div class="add-another-staff-member">

        {% macro addStaffMember(index, value, showRemove) %}
        {% call govukFieldset({ classes: 'add-another__item' }) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" id="involvedStaff[{{index}}]">
            {{
          govukInput({
            label: {
              html: 'Username'
            },
            id: 'involvedStaff[' + index + '][username]',
            name: 'involvedStaff[' + index + '][username]',
            value: value,
            errorMessage: errors | findErrors(['involvedStaff[' + index + ']','involvedStaff[' + index + '][username]']),
            attributes: {
              'data-name': 'involvedStaff[%index%][username]',
              'data-id': 'involvedStaff[%index%][username]'
            }
          })
            }}
          </div>
          <div class="govuk-grid-column-one-third remove-button-container govuk-!-margin-top-6">
            {% if showRemove %}
            <button type="button"
              class="govuk-button govuk-button--secondary add-another__remove-button govuk-!-margin-left-3">
              Remove
            </button>
            {% endif %}
          </div>
        </div>
        {% endcall %}
        {% endmacro %}

        {% for staffMember in data.involvedStaff %}
        {{ addStaffMember(index = loop.index0, value = staffMember.username, showRemove = loop.length != 1) }}
        {% else %}
        {{ addStaffMember(index = 0, value = null, showRemove = false) }}
        {% endfor %}
        <div class="button-action">
          {{
            govukButton({
              text: 'Add another member of staff',
              classes: 'govuk-button--secondary  add-another__add-button',
              attributes: { 'data-qa-add-another-staff': true }
            })
          }}
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3>Witnesses to the incident</h3>
      <div class="add-another-witness">
        {% macro addWitness(index, value, showRemove) %}
        {% call govukFieldset({ classes: 'add-another__item' }) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" id="witnesses[{{index}}]">
            {{
                  govukInput({
                    label: {
                      html: 'Name'
                    },
                    id: 'witnesses[' + index + '][name]',
                    name: 'witnesses[' + index + '][name]',
                    value: value,
                    errorMessage: errors | findErrors(['witnesses[' + index + ']' ,'witnesses[' + index + '][name]']),
                    attributes: {
                      'data-name': 'witnesses[%index%][name]',
                      'data-id': 'witnesses[%index%][name]'
                    }
                  })
            }}
          </div>
          <div class="govuk-grid-column-one-third remove-button-container govuk-!-margin-top-6">
            {% if showRemove %}
            <button type="button"
              class="govuk-button govuk-button--secondary add-another__remove-button govuk-!-margin-left-3">
              Remove
            </button>
            {% endif  %}
          </div>
        </div>
        {% endcall %}
        {% endmacro %}

        {% for witness in data.witnesses %}
        {{ addWitness(index = loop.index0, value = witness.name, showRemove = loop.length != 1)  }}
        {% else %}
        {{ addWitness(index = 0, value = null, showRemove = false) }}
        {% endfor %}
        <div class="button-action">
          {{
            govukButton({
              text: 'Add another witness',
              classes: 'govuk-button--secondary  add-another__add-button',
              attributes: { 'data-qa-add-another-witness': true }
            })
          }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    new AddAnother($('.add-another-staff-member'), '.remove-button-container')
    new AddAnother($('.add-another-witness'), '.remove-button-container')
    $('#change-date').click(function (e) {
      $('#read-date, #edit-date').toggle()
      return false
    })
  })
</script>
{% endblock %}