{% extends "../formTemplate.html" %} 
{% from "govuk/components/input/macro.njk" import govukInput %} 
{% from "govuk/components/select/macro.njk" import govukSelect %} 
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% block formItems %}
<div class="govuk-body">
  <h1 class="govuk-heading-xl mainHeading">Incident details</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-margin-bottom-1 govuk-label--xs">Prisoner</p>
      <p class="govuk-!-margin-bottom-5 govuk-label--s" data-qa="offender-name">
        {{ data.displayName }} ({{ data.offenderNo }})
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-!-margin-bottom-1 govuk-label--xs">Date and time of incident</p>
      <p class="govuk-!-margin-bottom-5 govuk-label--s" data-date-and-time>
        {{ data.date | formatDate('D MMMM YYYY') }} - {{ data.date | formatDate('HH:mm') }}
        <input type="hidden" name="incidentDate" value="{{ data.date | formatDate() }}">
      </p>
    </div>
  </div>
  <hr />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{
        govukSelect({
          id: 'locationId',
          name: 'locationId',
          classes: 'govuk-!-width-one-third',
          errorMessage: errors | findError('locationId'),
          label: {
            text: 'Location of incident:',
            isPageHeading: false,
            classes: 'govuk-label--xs govuk-!-margin-bottom-2'
          },
          items: data.locations | toSelect('locationId', 'userDescription', data.locationId )
        })
      }}
    </div>
  </div>
  <hr />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "plannedUseOfForce",
        name: "plannedUseOfForce",
        errorMessage: errors | findError('plannedUseOfForce'),
        fieldset: {
          legend: {
            text: "Was the use of force planned?",
            isPageHeading: false,
            classes: "govuk-label govuk-label--xs"
          }
        },
        items: [
          {
            value: true,
            text: "Yes",
            checked: data.plannedUseOfForce === true
          },
          {
            value: false,
            text: "No",
            checked: data.plannedUseOfForce === false
          }
        ]
      }) }}
    </div>
  </div>
  <hr />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3>Other staff involved in use of force</h3>
      <div class="add-another-staff-member">

        {% macro addStaffMember(index, value, showRemove) %}
        {% call govukFieldset({ classes: 'add-another__item' }) %}
        {{
          govukInput({
            label: {
              html: 'Username'
            },
            classes: 'govuk-!-width-one-third',
            id: 'involvedStaff[' + index + '][username]',
            name: 'involvedStaff[' + index + '][username]',
            value: value,
            errorMessage: errors | findError('involvedStaff[' + index + '][username]'),
            attributes: {
              'data-name': 'involvedStaff[%index%][username]',
              'data-id': 'involvedStaff[%index%][username]'
            }
          })
        }}
        {% if showRemove %}
        <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
          Remove
        </button>
        {% endif %}  
        {% endcall %} 
        {% endmacro %}



        {% for staffMember in data.involvedStaff %} 
          {{ addStaffMember(index = loop.index0, value = staffMember.username, showRemove = loop.length != 1) }}
        {% else %} 
          {{ addStaffMember(index = 0, value = null, showRemove = false) }}
        {% endfor %}
        <div class="button-action">
          {{
            govukButton({
              text: 'Add another member of staff',
              classes: 'govuk-button--secondary  add-another__add-button  govuk-!-margin-bottom-4',
              attributes: { 'data-qa-add-another-staff': true }
            })
          }}
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3>Witnesses to the incident</h3>
      <div class="add-another-witness">

        {% macro addWitness(index, value, showRemove) %}
          {% call govukFieldset({ classes: 'add-another__item' }) %}
            {{
              govukInput({
                label: {
                  html: 'Name'
                },
                classes: 'govuk-!-width-one-third',
                id: 'witnesses[' + index + '][name]',
                name: 'witnesses[' + index + '][name]',
                value: value,
                attributes: {
                  'data-name': 'witnesses[%index%][name]',
                  'data-id': 'witnesses[%index%][name]'
                }
              })
            }}
            {% if showRemove %}
            <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
              Remove
            </button>
            {% endif  %}
          {% endcall %} 
        {% endmacro %}


        {% for witness in data.witnesses %} 
          {{ addWitness(index = loop.index0, value = witness.name, showRemove = loop.length != 1)  }}
        {% else %} 
          {{ addWitness(index = 0, value = null, showRemove = false) }}
       {% endfor %}
        <div class="button-action">
          {{
            govukButton({
              text: 'Add another witness',
              classes: 'govuk-button--secondary  add-another__add-button govuk-!-margin-bottom-4',
              attributes: { 'data-qa-add-another-witness': true }
            })
          }}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/add-another.js"></script>
<script>
  new AddAnother($('.add-another-staff-member'))
  new AddAnother($('.add-another-witness'))
</script>
{% endblock %}
