{% extends "../formTemplate.html" %} 
{% from "input/macro.njk" import govukInput %} 
{% from "select/macro.njk" import govukSelect %} 
{% block formItems %}
<div class="govuk-body">
  <h1 class="govuk-heading-xl mainHeading">New use of force incident</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <p class="govuk-!-margin-bottom-1 govuk-label--xs">Prisoner involved</p>
      </div>
      <div class="govuk-grid-row">
        <p class="govuk-!-margin-bottom-5 govuk-label--s" data-offender-name>
          {{ data.displayName }} ({{ data.offenderNo }})
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
