{% extends "../formTemplate.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "radios/macro.njk" import govukRadios %}
{% from "select/macro.njk" import govukSelect %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incidentMacro %}
{% from "fieldset/macro.njk" import govukFieldset %} 
{% from "button/macro.njk" import govukButton %} 
{% from "warning-text/macro.njk" import govukWarningText %}


{% block formItems %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl mainHeading">Relocation and injuries</h1>

    <!-- Q1 -->

    {{ govukSelect({
        id: "prisoner-relocation",
        name: "prisonerRelocation",
        label: {
          text: "Where was the prisoner relocated to?"
        },
        attributes: {style:'min-width:33%'},
        items: [
          {
            value: "",
            text: "Select",
            selected: data.prisonerRelocation === ''
          },
          {
            value: "own cell",
            text: "Own cell",
            selected: data.prisonerRelocation === 'own cell'
          },
          {
            value: "gated cell",
            text: "Gated cell",
            selected: data.prisonerRelocation === 'gated cell'
          },
          {
            value: "segregation unit",
            text: "Segregation unit",
            selected: data.prisonerRelocation === 'segregation unit'
          },
          {
            value: "special accommodation",
            text: "Special accommodation",
            selected: data.prisonerRelocation === 'special accommodation'
          },
          {
            value: "Cellular vehicle",
            text: "Cellular vehicle",
            selected: data.prisonerRelocation === 'cellular vehicle'
          }
        ]
      }) }}

    <!-- Q2 -->
    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "relocationCompliancy",
      name: "relocationCompliancy",
      fieldset: {
        legend: {
          text: "Was the prisoner compliant?",
          isPageHeading: false,
          classes: "govuk-label govuk-label--xs"
        }
      },
      items: [
        {
          value: "compliant",
          text: "Yes",
          checked: data.relocationCompliancy === 'compliant'
        },
        {
          value: "non-compliant",
          text: "No",
          checked: data.relocationCompliancy === 'non-compliant'
        }
      ]
    }) }}

    <hr />
  </div>
  
  <h2 class="govuk-heading-l govuk-!-margin-top-6">Injuries sustained and healthcare involvement</h2>

  <div class="govuk-grid-column-two-thirds">
   

    <!-- Q3 -->

    {{ incidentMacro.radiosWithNestedTextbox({
        "primaryQuestion": {
          "text": "Was a member of healthcare present throughout the incident (doctor, registered nurse or healthcare officer)?",
          "name": "healthcareInvolved",
          "value":data.healthcareInvolved,
          "options": [{
            "value": "Yes",
            "label": "Yes"
          }, 
          {
            "value": "No",
            "label": "No"
          }]
        },
        "followUpQuestion": {
          "legend": "blank",
          "name": "healthcarePractionerName",
          "value":data.healthcarePractionerName,
          "alertMsg":"",
          "label": "Name"
        }
      }) 
    }}
    
    <!-- Q4 -->

    {{ govukInput({
      label: {
        text: "Who completed the F213 form?",
        classes: "govuk-!-margin-top-1"
      },
      id: "event-name",
      classes: "govuk-!-width-one-half govuk-!-margin-bottom-2",
      value: data.f213CompletedBy,
      "name": "f213CompletedBy"
    }) }}
    
    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "prisonerInjuries",
      name: "prisonerInjuries",
      fieldset: {
        legend: {
          text: "Did the prisoner sustain any injuries at the time?",
          isPageHeading: false,
          classes: "govuk-label govuk-label--xs"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes",
          checked: data.prisonerInjuries === 'Yes'
        },
        {
          value: "No",
          text: "No",
          checked: data.prisonerInjuries === 'No'
        }
      ]
    }) }}
    

  <!-- Q5 -->
  <div>
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "prisoner-hospitalisation",
        name: "prisonerHospitalisation",
        "value":data.prisonerHospitalisation,
        fieldset: {
          legend: {
            text: "Did the prisoner need outside hospitalisation at the time?",
            isPageHeading: false,
            classes: "govuk-fieldset"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: data.prisonerHospitalisation === 'Yes'
          },
          {
            value: "No",
            text: "No",
            checked: data.prisonerHospitalisation === 'No'
          }
        ]
      }) 
      }}
    </div>

    <!-- Q6 -->          

<div class="govuk-!-margin-bottom-6">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend ">
          Did a member of staff need medical attention at the time?
        </legend>

        <div class="govuk-radios" data-module="radios">
          <div class=" govuk-radios--inline govuk-!-margin-bottom-2">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="staff-medical-attention-1" name="staffMedicalAttention" type="radio"
                value="Yes" data-aria-controls="staff-medical-attention--conditional"
                {% if data.staffMedicalAttention === 'Yes' %} checked {% endif %}
              >
              <label class="govuk-label govuk-radios__label" for="staff-medical-attention-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="staffMedicalAttention" type="radio"
                value="No" 
                 {% if data.staffMedicalAttention === 'No' %} checked {% endif %}
              >
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>
            </div>
          </div>

          <!-- hidden panel starts here -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="staff-medical-attention--conditional">

            <!-- add another starts here   -->

            <div class="add-another-staff-needing-medical-attention">
              {%  for staffMember in  data.staffNeedingMedicalAttention %} 

                {% call govukFieldset({ classes: 'add-another__item' }) %}
                   {{
                    govukInput({
                      label: {
                        html: 'Name of who needed medical attention'
                      },
                      classes: 'govuk-!-width-two-thirds',
                      id: 'staff-needing-medical-attention[' + loop.index0 + '][name]',
                      name: 'staffNeedingMedicalAttention[' + loop.index0 + '][name]',
                      value: staffMember.name,
                      attributes: {
                        'data-name': 'staffNeedingMedicalAttention[%index%][name]',
                        'data-id': 'staff-needing-medical-attention[%index%][name]'
                      }
                    })
                  }} 

                  {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: 'staffNeedingMedicalAttention[' + loop.index0 + '][hospitalisation]',
                    fieldset: {
                      legend: {
                        text: "Did they go to hospital?"
                      }
                    },
    
                    items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        checked: staffMember.hospitalisation === 'Yes',
                        id: 'staff-needing-medical-attention[' + loop.index0 + '][hospitalisation]-yes',
                        attributes: {
                          'data-name': 'staffNeedingMedicalAttention[%index%][hospitalisation]',
                          'data-id': 'staff-needing-medical-attention[%index%][hospitalisation]-yes'
                        }
                      },
                      {
                        value: "No",
                        text: "No",
                        checked: staffMember.hospitalisation === 'No',
                        id: 'staff-needing-medical-attention[' + loop.index0 + '][hospitalisation]-no',
                        attributes: {
                          'data-name': 'staffNeedingMedicalAttention[%index%][hospitalisation]',
                          'data-id': 'staff-needing-medical-attention[%index%][hospitalisation]-no'
                        }
                      }
                    ]
                  }) }}

                {% if loop.length != 1 %}
                  <button type="button" class="govuk-button govuk-button--secondary add-another__remove-button">
                    Remove
                  </button>
                {% endif  %}
                
                {% endcall %} 
                {% else %} 
                {% call govukFieldset({ classes: 'add-another__item' }) %}
                  
                  {{
                    govukInput({
                      label: {
                        html: 'Name of who needed medical attention'
                      },
                      classes: 'govuk-!-width-two-thirds',
                      id: 'staff-needing-medical-attention[0][name]',
                      name: 'staffNeedingMedicalAttention[0][name]',
                      attributes: {
                        'data-name': 'staffNeedingMedicalAttention[%index%][name]',
                        'data-id': 'staff-needing-medical-attention[%index%][name]'
                      }
                    })
                  }}
                  {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: 'staffNeedingMedicalAttention[0][hospitalisation]',
                    fieldset: {
                      legend: {
                        text: "Did they go to hospital?"
                      }
                    },
                    items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        id: 'staff-needing-medical-attention[0][hospitalisation]-yes',
                        attributes: {
                          'data-name': 'staffNeedingMedicalAttention[%index%][hospitalisation]',
                          'data-id': 'staff-needing-medical-attention[%index%][hospitalisation]-yes'
                        }
                      },
                      {
                        value: "No",
                        text: "No",
                        id: 'staff-needing-medical-attention[0][hospitalisation]-no',
                        attributes: {
                          'data-name': 'staffNeedingMedicalAttention[%index%][[hospitalisation]',
                          'data-id': 'staff-needing-medical-attention[%index%][hospitalisation]-no'
                        }
                      }
                    ]
                  }) }}

                {% endcall %} 
              {% endfor %}
              <div class="button-action">
                {{
                  govukButton({
                    text: 'Add another',
                    classes: 'govuk-button--secondary  add-another__add-button govuk-!-margin-bottom-4',
                    attributes: { 'data-qa-add-another-staff-needing-medical-attention': true }
                  })
                }}
              </div> 
            </div>  <!-- add another ends here -->
          </div>  <!-- hidden panel end -->
        </div> <!--end of radios -->
      </fieldset>     
    </div> <!-- end of this component  -->
  </div> <!-- end of column two thirds -->
</div>   <!-- end of grid row-->


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/add-another.js"></script>
<script>
new AddAnother($('.add-another-staff-needing-medical-attention'))
</script>


{% endblock %}