{% extends "../formTemplate.html" %} 
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 

{% set pageTitle = 'Use of force details - why was use of force applied?' %} 
{% set saveButtonInEditModeText = 'Save and continue' %}

{% block formItems %}
<div class="govuk-grid-row">
  <div id="uof-reasons" class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl mainHeading">Use of force details</h1>
    {{ 
      govukCheckboxes({
        idPrefix: "reasons", 
        name: "reasons[]", 
        fieldset: { 
          legend: { 
            text: "Why was use of force applied?", 
            isPageHeading: false, 
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-8" 
          } 
        }, 
        items: data.UofReasons | list | extractAttr('value') | toChecked('value', 'label', data.reasons), 
        errorMessage: errors | findError('reasons') 
      }) 
    }}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/add-another-staff.js"></script>
{% endblock %}
