{% extends "../formTemplate.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incidentMacro %}

{% set pageTitle = 'Use of force details' %}

{% block formItems %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>

    {% set yesNoOptions = [{
        value: true,
        label: "Yes"
      }, {
        value: false,
        label: "No"
      }] 
    %}

    <!-- Q1 -->
    {{ incidentMacro.radio( {
      text: "Was positive communication used to de-escalate the situation with this prisoner?",
      name: "positiveCommunication",
      value: data.positiveCommunication,
      options: yesNoOptions,
      errorMessage: errors | findError('positiveCommunication')
    })}}

    <!-- Q2 new question body-worn camera question which was previously in the evidence page -->
    {{ incidentMacro.radiosWithAddAnotherTextBox({
      primaryQuestion:{
        text: "Was any part of the incident captured on a body-worn camera?",
        name: "bodyWornCamera",
        value: data.bodyWornCamera,
        errorMessage: errors | findError('bodyWornCamera'),
        questionSubject: 'body-worn-camera'
    },
      followUpQuestion:{
        name: "bodyWornCameraNumbers",
        value: data.bodyWornCameraNumbers,
        errorMessage: errors,
        otherIds: ['cameraNum', 'Camera number']
      }
    }) }}

    <!-- Q3 -->
    {{ incidentMacro.radio( {
      text: "Were any personal protection techniques used against this prisoner?",
      name: "personalProtectionTechniques",
      value: data.personalProtectionTechniques,
      options: yesNoOptions,
      errorMessage: errors | findError('personalProtectionTechniques')
    })}}

    <!-- Q4 -->
    {{ incidentMacro.radiosWithNestedRadios({
      primaryQuestion: {
        text: "Was a baton drawn by anyone against this prisoner?",
        name: "batonDrawnAgainstPrisoner",
        value: data.batonDrawnAgainstPrisoner,
        options: yesNoOptions,
        errorMessage: errors | findError('batonDrawnAgainstPrisoner')
      },
      followUpQuestion: {
        text: "Was it used against this prisoner?",
        value: data.batonUsed,
        name: "batonUsed",
        options: yesNoOptions,
        errorMessage: errors | findError('batonUsed')
      },
      followUpQuestionTriggeredOn: true,
      orientation: 'inline'
    }
    )}}

    <!-- Q5 -->
    {{ incidentMacro.radiosWithNestedRadios({
      primaryQuestion: {
        text: "Was PAVA drawn by anyone against this prisoner?",
        name: "pavaDrawnAgainstPrisoner",
        value: data.pavaDrawnAgainstPrisoner,
        options: yesNoOptions,
        errorMessage: errors | findError('pavaDrawnAgainstPrisoner')

      },
      followUpQuestion: {
        text: "Was it used against this prisoner?",
        name: "pavaUsed",
        value: data.pavaUsed,
        options: yesNoOptions,
        errorMessage: errors | findError('pavaUsed')
      },
      followUpQuestionTriggeredOn: true,
      orientation: 'inline'
    }
    )}}

    <!-- Q6 -->
    {{ incidentMacro.radiosWithAddAnotherTextBox({
      primaryQuestion:{
        text: "Were any weapons observed?",
        name: "weaponsObserved",
        value: data.weaponsObserved,
        errorMessage: errors | findError('weaponsObserved'),
        questionSubject: 'weapons-observed'
    },
      followUpQuestion:{
        name: "weaponTypes",
        value: data.weaponTypes,
        errorMessage: errors,
        otherIds: ['weaponType', 'Weapon type']
      }
    }) }}

    <!-- Q7 -->
    {{ incidentMacro.radiosWithNestedRadios({
      primaryQuestion: {
        text: "Was a guiding hold used against this prisoner?",
        name: "guidingHold",
        value: data.guidingHold,
        options: yesNoOptions,
        errorMessage: errors | findError('guidingHold')

      },
      followUpQuestion: {
        text: "How many officers were involved?",
        name: "guidingHoldOfficersInvolved",
        value: data.guidingHoldOfficersInvolved,
        errorMessage: errors | findError('guidingHoldOfficersInvolved'),
        options: [{
          value: 1,
          label: "1"
        }, 
        {
          value: 2,
          label: "2"
        }]
      },
      followUpQuestionTriggeredOn: true,
      orientation: 'inline'
    }
    )}}

    <!-- Q8 -->
    {{ incidentMacro.radio( {
    text: "Was an escorting hold used against this prisoner?",
    name: "escortingHold",
    value: data.escortingHold,
    options: yesNoOptions,
    errorMessage: errors | findError('escortingHold')
    })}}

    <!-- Q9 -->
    <div id="control-and-restraint">
    {{ incidentMacro.checkboxesWithNestedCheckboxes({
      primaryQuestion: {
        text: "Which control and restraint positions were used against this prisoner?",
        hint: "Select all that apply.",
        name: "restraintPositions",
        value: data.restraintPositions | toArray,
        options: data.types.ControlAndRestraintPosition | list | extractAttr('value') | toOptions('value', 'label'),
        errorMessage: errors | findError('restraintPositions')
      }
    }) 
  }}
  </div>

  <!-- Q10 -->
    <div id="pain-inducing-techniques">
      {{ incidentMacro.checkboxesWithNestedCheckboxes({
        primaryQuestion: {
          text: "Which pain inducing techniques were used against this prisoner?",
          hint: "Select all that apply.",
          name: "painInducingTechniquesUsed",
          value: data.painInducingTechniquesUsed or [],
          errorMessage: errors | findError('painInducingTechniquesUsed'),
          options: data.types.PainInducingTechniquesUsed | list | extractAttr('value') | toOptions('value', 'label')
        }
      }) 
    }}
    </div>

    <!-- 11 -->
    {{ incidentMacro.radio( {
      text: "Were handcuffs applied against this prisoner?",
      name: "handcuffsApplied",
      value: data.handcuffsApplied,
      options: yesNoOptions,
      errorMessage: errors | findError('handcuffsApplied')
    })}}
  </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}