{% extends "../formTemplate.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% import "../incidentMacros.njk" as incidentMacro %}

{% set pageTitle = 'Use of force details' %}

{% block formItems %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>

    {% set yesNoOptions = [{
        value: true,
        label: "Yes"
      }, {
        value: false,
        label: "No"
      }] 
    %}

    <!-- Q1 -->
    {{ incidentMacro.radio( {
      text: "Was positive communication used to de-escalate the situation?",
      name: "positiveCommunication",
      value: data.positiveCommunication,
      options: yesNoOptions,
      errorMessage: errors | findError('positiveCommunication')
    })}}

    <!-- Q2 -->
    {{ incidentMacro.radio( {
      text: "Were any personal protection techniques used?",
      name: "personalProtectionTechniques",
      value: data.personalProtectionTechniques,
      options: yesNoOptions,
      errorMessage: errors | findError('personalProtectionTechniques')
    })}}

    <!-- Q3 -->
    {{ incidentMacro.radiosWithNestedRadios({
      primaryQuestion: {
        text: "Was a baton drawn?",
        name: "batonDrawn",
        value: data.batonDrawn,
        options: yesNoOptions,
        errorMessage: errors | findError('batonDrawn')
      },
      followUpQuestion: {
        text: "Was it used?",
        value: data.batonUsed,
        name: "batonUsed",
        options: yesNoOptions,
        errorMessage: errors | findError('batonUsed')
      },
      followUpQuestionTriggeredOn: true,
      orientation: 'inline'
    }
    )}}

    <!-- Q4 -->
    {{ incidentMacro.radiosWithNestedRadios({
      primaryQuestion: {
        text: "Was PAVA drawn?",
        name: "pavaDrawn",
        value: data.pavaDrawn,
        options: yesNoOptions,
        errorMessage: errors | findError('pavaDrawn')

      },
      followUpQuestion: {
        text: "Was it used?",
        name: "pavaUsed",
        value: data.pavaUsed,
        options: yesNoOptions,
        errorMessage: errors | findError('pavaUsed')
      },
      followUpQuestionTriggeredOn: true,
      orientation: 'inline'
    }
    )}}

    <!-- Q5 -->
    {{ incidentMacro.radiosWithNestedRadios({
      primaryQuestion: {
        text: "Was a guiding hold used?",
        name: "guidingHold",
        value: data.guidingHold,
        options: yesNoOptions,
        errorMessage: errors | findError('guidingHold')

      },
      followUpQuestion: {
        text: "How many officers were involved?",
        name: "guidingHoldOfficersInvolved",
        value: data.guidingHoldOfficersInvolved,
        errorMessage: errors | findError('guidingHoldOfficersInvolved'),
        options: [{
          value: 1,
          label: "1"
        }, 
        {
          value: 2,
          label: "2"
        }]
      },
      followUpQuestionTriggeredOn: true,
      orientation: 'inline'
    }
    )}}

    <!-- Q6 -->
    <div id="control-and-restraint">
    {{ incidentMacro.radiosWithNestedCheckboxes({
      primaryQuestion: {
        text: "Was control and restraint used?",
        name: "restraint",
        value: data.restraint,
        options: yesNoOptions,
        errorMessage: errors | findError('restraint')
      },
      followUpQuestion: {
        text: "What positions were used?",
        name: "restraintPositions",
        value: data.restraintPositions or [],
        errorMessage: errors | findError('restraintPositions'),
        options: data.types.ControlAndRestraintPosition | list | extractAttr('value') | toOptions('value', 'label')
      }
    }) 
  }}
  </div>

    <!-- Q7 -->
    {{ incidentMacro.radio( {
      text: "Were pain inducing techniques used?",
      name: "painInducingTechniques",
      value: data.painInducingTechniques,
      options: yesNoOptions,
      errorMessage: errors | findError('painInducingTechniques')
    })}}

    <!-- Q8 -->
    {{ incidentMacro.radio( {
      text: "Were handcuffs applied?",
      name: "handcuffsApplied",
      value: data.handcuffsApplied,
      options: yesNoOptions,
      errorMessage: errors | findError('handcuffsApplied')
    })}}
  </div>
</div>

{% endblock %}