{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{%  macro datePicker(params) %}
    {{ mojDatePicker({
        id: params.id,
        name: params.name,
        label: {
            text: params.label
        },
        value: "DD/MM/YYYY",
        errorMessage: params.errorMessage
        }) 
    }}
{%  endmacro %}