{% extends "./layout.html" %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from  "../macros.njk" import exitLink %}   
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = 'Use of force incidents' %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Digital Prison Services",
        href: links.exitUrl
      }) }}
{% endblock %}

{% block content %}


{% set html %}
  <p class="govuk-notification-banner__heading">
    Report use of force will not be available on [Wednesday 5 April 2023] from [6am to 8am] due to maintenance.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}   

    <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>

    <div class="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            {% if user.isReviewer %}
            <li class="govuk-tabs__list-item {% if selectedTab === 'not-completed' %} govuk-tabs__list-item--selected {% endif %}">
                <a class="govuk-tabs__tab" data-qa="not-completed-link" href="/not-completed-incidents">
                   Not completed
                </a>
            </li>
            <li class="govuk-tabs__list-item {% if selectedTab === 'completed' %} govuk-tabs__list-item--selected {% endif %}">
                <a class="govuk-tabs__tab" data-qa="completed-link" href="/completed-incidents">
                    Completed
                </a>
            </li>
            {% endif %}
            <li class="govuk-tabs__list-item {% if selectedTab === 'your-statements' %} govuk-tabs__list-item--selected {% endif %}">
                <a class="govuk-tabs__tab" data-qa="your-statements-link" href="/your-statements">
                    Your statements
                </a>
            </li>
            <li class="govuk-tabs__list-item {% if selectedTab === 'your-reports' %} govuk-tabs__list-item--selected {% endif %}">
            <a class="govuk-tabs__tab" data-qa="your-reports-link" href="/your-reports">
                Your reports
            </a>
            </li>
            <li class="float-right" >
                <a class="govuk-link govuk-link--no-visited-state tab-link" data-qa="report-in-another-prison-link" href="/search-for-prisoner">
                    Report use of force on a prisoner in another prison
                </a>
                </li>
        </ul>

        {% block tabContent %}
        {% endblock %}
        <div class="govuk-grid-row govuk-!-margin-top-4">
            {{ 
                exitLink({
                  qa: 'exit-to-dps-link' 
                }) 
              }}  
        </div>
    </div>
{% endblock %}
