{% extends "govuk/template.njk" %}

{% set pageTitle = pageTitle | default('GOV.UK - Use of force') %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block headIcons %}
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block head %}
{% include "../tagManager/headContent.html" %}

<!--[if !IE 8]><!-->
<link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
<!--<![endif]-->

<!--[if lt IE 9]>
<link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
<![endif]-->	

{% endblock %}

{% block header %}
  {% include "./header.html" %}
{% endblock %}

{% block bodyStart %}
{% include "../tagManager/bodyContent.html" %}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the
<body>, to avoid blocking the initial render. #}
<script src="/assets/govuk/all.js"></script>
<script src="/assets/govuk-frontend-init.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<link href = "https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">

<script src="/assets/add-another.js"></script>
<script src="/assets/sortable-table.js"></script>
<script src="/assets/main.js"></script>
  {% block script %}
  {% endblock %}

{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}
