{% extends "./layout.html" %}
{% from "./miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}

    {% if showBacklink %}
        {{ govukBackLink({
        classes: 'govuk-!-margin-top-5 govuk-!-margin-bottom-5',
        text: "Back",
        href: backlinkHref, 
        attributes: {'data-qa': 'back-link'}
        }) }}
    {% endif %}

    {% if data.offenderDetail %}
        {% block banner %}
            {% set person = {
                firstName: data.offenderDetail.firstName,
                lastName: data.offenderDetail.lastName,
                prisonerNumber: data.offenderDetail.offenderNo,
                dateOfBirth: data.offenderDetail.dateOfBirth,
                status: data.offenderDetail.status,
                prisonName: data.offenderDetail.assignedLivingUnit.agencyName,
                cellLocation: data.offenderDetail.assignedLivingUnit.description
            } %}
            {{ miniProfile(person, '/api/offender/' + data.offenderDetail.bookingId  + '/image', digitalPrisonServiceUrl + '/prisoner/' + data.offenderDetail.offenderNo) }}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}