kubectl_deploy*
helm_deploy*
Dockerfile
README.md
node_modules
npm-debug.log
.env*
README.md
*.iml
.idea/
.gitignore
.git
.circleci
test*
scss-report.txt
eslint-report.html
test-report.html
docker-compose.yml

