version: '3.1'
services:

  use-of-force-int-db:
    image: postgres
    networks:
    - hmpps_int
    container_name: use-of-force-int-db
    restart: always
    ports:
      - "5432:5432"
    environment:
    - POSTGRES_PASSWORD=use-of-force
    - POSTGRES_USER=use-of-force
    - POSTGRES_DB=use-of-force-int

  use-of-force-redis:
    image: 'bitnami/redis:7.2'
    networks:
      - hmpps_int
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  wiremock:
    image: wiremock/wiremock
    networks:
    - hmpps_int
    container_name: use-of-force-wiremock
    restart: always
    ports:
      - "9091:8080"


networks:
  hmpps_int:
