@import "palette";

div.govuk-width-container {
  max-width: 1170px;
}

.hmpps-header__container {
  max-width: 1170px;
}

// Task list pattern
.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  @include govuk-font($size: 24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;

  @include govuk-media-query($from: 450px) {
    float: left;
    width: 75%;
  }
}

.app-task-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.clear-both {
  clear: both;
}

.incidents {
  .govuk-table__body .govuk-table__cell {
    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(2);
  }

  tbody .govuk-button {
    margin-bottom: govuk-spacing(0);
  }
}

.statement,
.pre-wrapped {
  white-space: pre-wrap;
}

.info-panel {
  background-color: $govuk-blue;
  color: govuk-colour("white");
}

.float-right {
  float: right;
}

.list .list-item:last-of-type hr {
  display: none;
}

.report-use-of-force-label {
  @include govuk-media-query($from: tablet) {
    text-align: center;
  }
}

.report-use-of-force-prisoner-image {
  @include govuk-media-query($from: desktop) {
    max-width: 18% !important;
  }
}

.report-use-of-force-prisoner-name {
  @include govuk-media-query($from: desktop) {
    max-width: 37% !important;
    word-wrap: break-word;
  }
}

.report-use-of-force-prisoner-number {
  @include govuk-media-query($from: desktop) {
    max-width: 20% !important;
  }
}

.report-use-of-force-prisoner-dob {
  @include govuk-media-query($from: desktop) {
    max-width: 25% !important;
  }
}

.hidden {
  display: none;
}

.edit-incident-date {
  margin-top: 19px;
}

.app-\!-width-one-fifth {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 20% !important;
  }
}

.app-\!-width-one-sixth {
  width: 100% !important;

  @include govuk-media-query($from: tablet) {
    width: 16.66% !important;
  }
}

.search-results {
  tbody {
    tr:nth-child(odd) {
      background: govuk-colour("light-grey");
    }
  }
}

.sortableLink {
  cursor: pointer;
}

.sortableLink,
.sortableLink:hover {
  text-decoration: none;
  color: $govuk-link-colour;
}

.arrow-up {
  content: url("/assets/images/Triangle_asc.png");
}

.arrow-down {
  content: url("/assets/images/Triangle_desc.png");
}

i[class^="arrow-"] {
  transform: scale(0.5);
  vertical-align: middle;
}

.tab-link {
  font-size: 1.1875rem;
  line-height: 2.31579;
}

.flex-container-space-between {
  padding: 10px 0 10px 0;
  margin: 0 auto;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.flex-basis-20 { flex-basis: 20%; }
.flex-basis-30 { flex-basis: 30%; }
.flex-basis-50 { flex-basis: 50%; }
.flex-basis-60 { flex-basis: 60%; }
.flex-basis-70 { flex-basis: 70%; }
.flex-basis-80 { flex-basis: 80%; }

.flex-container-justified {
  display: flex;
  justify-content: space-between;
}

dt.summary-list__key__wider {
  width: 50%;
}

.incident-search {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(7);

  .heading {
    margin-bottom: govuk-spacing(1);
  }

  .filter-item {
    display: block;
    box-sizing: border-box;
    margin: govuk-spacing(2);
    float: left;
  }

  .prisoner-name {
    @include govuk-media-query($from: tablet) {
      width: 18%;
    }
  }

  .prison-number {
    @include govuk-media-query($from: tablet) {
      width: 14%;
    }
  }

  .reporter {
    @include govuk-media-query($from: tablet) {
      width: 18%;
    }
  }

  .apply {
    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(7);
      width: 6%;
    }
  }

  .clear-filter {
    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(8);
      width: 6%;
    }
  }
}

.ui-widget-header {
  border: 0 !important;
  background: govuk-colour("white") !important;
  color: govuk-colour("black") !important;
  font-weight: bold;
}

.ui-datepicker {
  margin-top: 20px;
}

.date-picker-container {
  width: 140px;
  margin-bottom: 32px;

  span {
    width: 850px;
  }
}

.date-picker-input-wide {
  width: 115%;
}

.ui-datepicker table {
  background: govuk-colour("white") !important;
}

.ui-widget-content {
  border: 1px solid govuk-colour("black") !important;
  background: govuk-colour("white") !important;
}

.ui-state-default {
  border: 0 !important;
  background: govuk-colour("white") !important;
  color: govuk-colour("black") !important;
  font-weight: normal !important;
  text-align: center !important;
}

.ui-state-active {
  background: $govuk-brand-colour !important;
  color: govuk-colour("white") !important;
  border-radius: 15px !important;
  padding: 2px !important;
  width: 25px !important;
  margin: 0 auto !important;
}

.ui-state-highlight {
  border: 1px solid govuk-colour("light-blue") !important;
  border-radius: 15px !important;
  padding: 2px !important;
  width: 25px !important;
  margin: 0 auto !important;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary {
  opacity: 0.2 !important;
}

.ui-widget-header .ui-icon {
  background-image: url(https://code.jquery.com/ui/1.12.1/themes/ui-lightness/images/ui-icons_222222_256x240.png) !important;
}

.govuk-radios__conditional legend {
  padding-top: 15px;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center !important;
}

.margin-top-bottom-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.print-link {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em govuk-spacing(7);
  background: url(/assets/images/Printer_icon.png) no-repeat govuk-spacing(1) 50%;
  background-size: 1.125em 1.3125em;
  padding-top: 0;
}

.print {
  display: none !important;
}

@media print {
  .no-print,
  .hmpps-header,
  .govuk-footer {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  .page-break-before {
    break-before: page;
  }
}

@page {
  size: A4;
  margin: 10% 5%;
}

.width-half {
  width: 50% !important;
}

.found-staff-detail {
  padding-top: 8px;
  padding-bottom: 17px !important;
}

.user-heading {
  padding-left: 59px;
}

.staff-match {
  padding-top: 8px;
  cursor: pointer;

  &:empty {
    content: "";
    display: inline-block;
    width: 0px;
  }
}

.google-tag-manager-container {
  display: none;
  visibility: hidden;
}

.staff-involved-border {
  border-bottom: 1px solid #b1b4b6;
}

.staff-involved-padding {
  padding-inline-start: 0;
  list-style: none;
}

.delete-staff {
  text-align: right;
}

.min-width-33 {
  min-width: 33%;
}

.remove-button-container {
  button {
    margin-bottom: 0;
  }
}

.govuk-notification-banner__content > * {
  max-width: 700px;
}

.summary-card {
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: 30px;

  h2 {
    margin: 0;
  }

  &__title-wrapper h2 {
    border-bottom: 1px solid transparent;
    background-color: govuk-colour("light-grey");
    padding: 15px 20px;
    margin-top: 0 !important;
    font-size: 24px;
  }

  &__content {
    padding: 0 20px;

    table {
      margin-bottom: 0;
    }

    .govuk-summary-list:last-child dt,
    .govuk-summary-list:last-child dd,
    tr:last-child td {
      border-bottom: none;
    }
  }
}

.border-bottom-none {
  border-bottom: none;
}

.border-bottom-light-grey {
  border-bottom: 2px solid #f3f2f1;
}

.border-surround-border-grey {
  border: 2px solid #b1b4b6;
}

.edit-history-table {
  table-layout: fixed;
  width: 100%;
}

.edit-history-table-width-8 {
  width: 8% !important;
}

.edit-history-table-width-12 {
  width: 12% !important;
}

.edit-history-table .border-bottom-grey tr:last-child {
  border-bottom: 1px solid govuk-colour("mid-grey");
}

.edit-history-table .govuk-table__cell {
  border-bottom: none;
}

// Parent selector using :has()
main:has(div.negative-margin-top-7) {
  margin-top: -30px;
}

.align-items-end {
  display: flex;
  align-items: flex-end;
}

.padding-bottom-2 {
  padding-bottom: 3px;
}
 
.width-fit {
  max-width: fit-content;
}
