#global-header #logo.hmppslogo
  background: url('/public/images/logo.svg') no-repeat

#global-header #logo .logo-img
  margin-right: 10px

// Header

div.govuk-width-container
  max-width: 1150px

div.govuk-header__container
  border-bottom: 0
  padding-top: 0

div.govuk-header__logo
  padding-top: 10px
  padding-bottom: 10px

header.govuk-header
  padding-top: 0
  box-sizing: border-box
    
.title
  text-align: left
  font-size: 26px
  flex-grow: 1
  text-decoration: none
  padding-left: 0px

.logo-text
  padding: 3px 15px 0 10px
  border-right: solid white 1px
  margin-right: 15px

.user-block
  color: white
  float: right
  font-size: 19px
  background-color: govuk-colour("blue")
  ul
    padding: 0
    li
      padding: 0 30px
      display: inline
      &:not(:last-child)
        border-right: solid white 1px
  a
    color: white

// Task list pattern

.app-task-list
  list-style-type: none
  padding-left: 0
  margin-top: 0
  margin-bottom: 0
  @include govuk-media-query($from: tablet)
    min-width: 550px

.app-task-list__section
  display: table
  @include govuk-font($size:24, $weight: bold)

.app-task-list__section-number
  display: table-cell

  @include govuk-media-query($from: tablet)
    min-width: govuk-spacing(6)
    padding-right: 0

.app-task-list__items
  @include govuk-font($size: 19)
  @include govuk-responsive-margin(9, "bottom")
  list-style: none
  padding-left: 0
  @include govuk-media-query($from: tablet)
    padding-left: govuk-spacing(6)

.app-task-list__item
  border-bottom: 1px solid $govuk-border-colour
  margin-bottom: 0 !important
  padding-top: govuk-spacing(2)
  padding-bottom: govuk-spacing(2)
  @include govuk-clearfix

.app-task-list__item:first-child
  border-top: 1px solid $govuk-border-colour

.app-task-list__task-name
  display: block
  @include govuk-media-query($from: 450px)
    float: left
    width: 75%

.app-task-list__task-completed
  margin-top: govuk-spacing(2)
  margin-bottom: govuk-spacing(1)

  @include govuk-media-query($from: 450px)
    float: right
    margin-top: 0
    margin-bottom: 0

.clear-both
  clear: both

.incidents 
  .govuk-table__body .govuk-table__cell 
    padding-top:  govuk-spacing(3)
    padding-bottom:  govuk-spacing(2)
  tbody .govuk-button
    margin-bottom: govuk-spacing(0)

.statement
  white-space: pre-wrap 

.info-panel
  background-color: govuk-colour("blue")
  color: govuk-colour("white")

.float-right 
  float: right

.list .list-item:last-of-type hr
  display: none

.reviewer-incidents  
  @include govuk-media-query($from: tablet)
  .prisoner, .reporter
    width: 20% !important
  .date, .statements
    width: 18% !important
  .report
    width: 13.33% !important
  .overdue
    width: 10% !important

.hidden
  display: none

.edit-incident-date
  margin-top: 19px