{% extends "../formTemplate.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}

{% block formItems %}

  {% set carTypeHtml %}
  {{ govukInput({
    name: "make",
    type: "text",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Make"
    },
    value: data.make
  }) }}

  {{ govukInput({
    name: "model",
    type: "Model",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Model"
    },
    value: data.model

  }) }}
  {% endset -%}

  {{ govukRadios({
    name: "haveCar",
    fieldset: {
      legend: {
      text: "Do you own a car?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
    },
      hint: {
      text: "Select one option."
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.haveCar === 'Yes',
        conditional: {
          html: carTypeHtml
        }
      },
      {
        value: "No",
        checked: data.haveCar === 'No',
        text: "No"
      }
    ]
  }) }}

{% endblock %}
