{% extends "../partials/layout.html" %}
{% from "../macros.njk" import submitLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set showCancelEditButton =showCancelEditButton | default(true) %}

{% block content %}

{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {% block formItems %}

  {% endblock %}

  {% if editMode %}

    {{ govukButton({
      text: "Save",
      name: "submitType",
      value: 'save-and-continue',
      attributes: {'data-qa': 'save'}
    }) }}

    {% if showCancelEditButton %}

      {{ govukButton({
        text: "Cancel",
        name: "submitType",
        href: '/report/' + data.bookingId + '/check-your-answers',
        classes: "govuk-button govuk-button--secondary govuk-!-margin-left-3",
        attributes: {'data-qa': 'cancel'}
      }) }}

    {% endif %}


  {% else %}

    {{ govukButton({
      text: "Save and continue",
      name: "submitType",
      value: 'save-and-continue',
      attributes: {'data-qa': 'save-and-continue'}
    }) }}
    <br/>
    {{ 
      submitLink({
        label: 'Save and return to report use of force',
        qa: 'save-and-return', 
        value: 'save-and-return'
      }) 
    }}

  {% endif %}

</form>

{% endblock %}
