{% extends "../partials/layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink or '/check-answers/' + bookingId
  }) }}
{% endblock %}


{% block content %}

{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {% block formItems %}

  {% endblock %}

  {{ govukButton({
    text: "Save and continue",
    name: "submit",
    value: 'save-and-continue',
    attributes: {'data-qa': 'save-and-continue'}
  }) }}

  {{ govukButton({
    text: "Save and return to task list",
    name: "submit",
    value: 'save-and-return',
    classes: "govuk-button govuk-button--secondary govuk-!-margin-left-3",
    attributes: {'data-qa': 'save-and-return'}
  }) }}

</form>

{% endblock %}
