{% macro radiosWithNestedRadios(question) %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {# primary #}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          {{question.primaryQuestion.text}}
      </legend>
      <div class="govuk-!-margin-bottom-6">
        <div class="{% if question.primaryQuestion.options | length < 3 %} govuk-radios--inline{% endif %}" data-module="radios">
          {% set name1 = question.primaryQuestion.name %}
          {% for option in question.primaryQuestion.options %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="id-{{name1}}-{{loop.index}}" name="{{name1}}" type="radio" value="{{option.value}}" 
              {% if option.value === question.primaryQuestion.value %} checked {% endif %}
              {% if option.value === 'yes' %} data-aria-controls="conditional-{{name1}}" {% endif %}>
              <label class="govuk-label govuk-radios__label" for='id-{{name1}}-{{loop.index}}'>
                {{option.label}}
              </label>
            </div>
          {% endfor %}

          {# followup #}
          {% if question.followUpQuestion %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden clear-both" id="conditional-{{name1}}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-!-font-weight-bold">
                    {{question.followUpQuestion.text}}
                </legend>
                {% set name2 = question.followUpQuestion.name %}
                <div class="{% if question.followUpQuestion.options | length < 3 %} govuk-radios--inline {% endif %}">
                  {% for option in question.followUpQuestion.options %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="id-{{name2}}-{{loop.index}}" name="{{name2}}" type="radio" value="{{option.value}}"                       
                      {% if option.value === question.followUpQuestion.value %} checked {% endif %}>
                      <label class="govuk-label govuk-radios__label" for="id-{{name2}}-{{loop.index}}">
                        {{option.label}}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
          {% endif %}
          {# end of followup #}
        </div>
      </div>
    </fieldset>
  </div>

{% endmacro %}

{% macro radiosWithNestedCheckboxes(question) %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {# primary #}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          {{question.primaryQuestion.text}}
      </legend>
      <div class="govuk-!-margin-bottom-6">
        <div class="govuk-radios--inline" data-module="radios">
          {% set name = question.primaryQuestion.name %}
          {% for option in question.primaryQuestion.options %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="id-{{name}}-{{loop.index}}" name="{{name}}" type="radio" value="{{option.value}}" {% if option.value === 'yes' %} data-aria-controls="conditional-{{name}}" {% endif %}
              {% if option.value === question.primaryQuestion.value %} checked  {% endif %}>
              <label class="govuk-label govuk-radios__label" for='id-{{name}}-{{loop.index}}'>
                {{option.label}}
              </label>
            </div>
          {% endfor %}

          {# followup #}
          <div class="govuk-checkboxes__conditional clear-both" id="conditional-{{name}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-!-font-weight-bold">
                  {{question.followUpQuestion.text}}
              </legend>

              {% set name = question.followUpQuestion.name %}
              {% for option in question.followUpQuestion.options %}

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="id-{{name}}-{{loop.index}}" name="{{name}}" type="checkbox"  value="{{option.value}}"
                  {% if option.value in question.followUpQuestion.value %} checked  {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="id-{{name}}-{{loop.index}}">
                    {{option.label}}
                  </label>
                </div>
              {% endfor %}
            </fieldset>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

{% endmacro %}