{% macro inlineConditionalRadiosWithNestedRadios(question) %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          {{question.primaryQuestion}}
        </h1>
      </legend>
      <div class="govuk-!-margin-bottom-6" >
        <div class="govuk-radios--inline" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="id-{{question.primaryName}}-1" name="{{question.primaryName}}" type="radio" value="{{question.primaryOpt1}}" data-aria-controls="conditional-{{question.primaryName}}">
            <label class="govuk-label govuk-radios__label" for='id-{{question.primaryName}}-1'>
              {{question.primaryOpt1 | capitalize }}
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="id-{{question.primaryName}}-2" name="{{question.primaryName}}" type="radio" value="{{question.primaryOpt2}}">
            <label class="govuk-label govuk-radios__label" for="id-{{question.primaryName}}-2">
              {{question.primaryOpt2 | capitalize }}
            </label>
          </div>

          <div style="clear: both" class="govuk-radios__conditional govuk-radios--inline govuk-radios__conditional--hidden" id="conditional-{{question.primaryName}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                <h1 class="govuk-fieldset__heading govuk-!-font-weight-bold">
                  {{question.secondaryQuestion}}
                </h1>
              </legend>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id-{{question.secondaryName}}-1" name="{{question.secondaryName}}" type="radio" value="{{question.secondaryOpt1}}">
                <label class="govuk-label govuk-radios__label" for="id-{{question.secondaryName}}-1">
                  {{question.secondaryOpt1 | capitalize }}
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="id-{{question.secondaryName}}-2" name="{{question.secondaryName}}" type="radio" value="{{question.secondaryOpt2}}">
                <label class="govuk-label govuk-radios__label" for="id-{{question.secondaryName}}-2">
                  {{question.secondaryOpt2 | capitalize }}
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

{% endmacro %}


{% macro inlineConditionalRadiosWithNestedCheckboxes(question) %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          {{question.primaryQuestion}}
        </h1>
      </legend>
      <div class="govuk-!-margin-bottom-6">
        <div class="govuk-radios--inline" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="id-{{question.primaryName}}-1" name="{{question.primaryName}}" type="radio" value="{{question.primaryOpt1}}" data-aria-controls="conditional-{{question.primaryName}}">
            <label class="govuk-label govuk-radios__label" for='id-{{primaryName}}-1'>
              {{question.primaryOpt1 | capitalize }}
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="id-{{question.primaryName}}-2" name="{{question.primaryName}}" type="radio" value="{{question.primaryOpt2}}">
            <label class="govuk-label govuk-radios__label" for="id-{{question.primaryName}}-2">
              {{question.primaryOpt2 | capitalize }}
            </label>
          </div>

          <div style="clear: both" class="govuk-checkboxes__conditional govuk-radios__conditional--hidden" id="conditional-{{question.primaryName}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                <h1 class="govuk-fieldset__heading govuk-!-font-weight-bold">
                  {{question.secondaryQuestion}}
                </h1>
              </legend>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="id-{{question.secondaryName}}-1" name="{{question.secondaryName}}" type="checkbox" value="{{question.secondaryOpt1}}">
                <label class="govuk-label govuk-checkboxes__label" for="id-{{question.secondaryName}}-1">
                  {{question.secondaryOpt1 | capitalize }}
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="id-{{question.secondaryName}}-2" name="{{question.secondaryName}}" type="checkbox" value="{{question.secondaryOpt2}}">
                <label class="govuk-label govuk-checkboxes__label" for="id-{{question.secondaryName}}-2">
                  {{question.secondaryOpt2 | capitalize }}
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="id-{{question.secondaryName}}-3" name="{{question.secondaryName}}" type="checkbox" value="{{question.secondaryOpt3}}">
                <label class="govuk-label govuk-checkboxes__label" for="id-{{question.secondaryName}}-3">
                  {{question.secondaryOpt3 | capitalize }}
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="id-{{question.secondaryName}}-4" name="{{question.secondaryName}}" type="checkbox" value="{{question.secondaryOpt4}}">
                <label class="govuk-label govuk-checkboxes__label" for="id-{{question.secondaryName}}-4">
                  {{question.secondaryOpt4 | capitalize }}
                </label>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

{% endmacro %}