
{% macro submitLink(props) %}
    <a class="govuk-body govuk-link govuk-link--no-visited-state js-submitLink" data-value="{{props.value}}" data-qa="{{props.qa}}" href='#'>
        {{props.label | safe }}
    </a>
{% endmacro %}


{% macro overdueBadge(props) %}
<span data-qa="{{props.qa}}" class="moj-badge moj-badge--red">{{props.text}}</span>
{% endmacro %}

