
{% macro submitLink(props) %}
    <a class="govuk-link govuk-link--no-visited-state js-submitLink" data-value="{{props.value}}" data-qa="{{props.qa}}" href='#'>
        {{props.label}}
    </a>
{% endmacro %}