
{% macro submitLink(props) %}
    <a class="govuk-body govuk-link govuk-link--no-visited-state js-submitLink" data-value="{{props.value}}" data-qa="{{props.qa}}" href='#'>
        {{props.label | safe }}
    </a>
{% endmacro %}


{% macro overdueBadge(props) %}
<span data-qa="{{props.qa}}" class="moj-badge moj-badge--red">{{props.text}}</span>
{% endmacro %}


{% macro removalRequestedBadge(props) %}
<span data-qa="{{props.qa}}" class="moj-badge moj-badge--bright-purple {{props.class}}">{{props.text}}</span>
{% endmacro %}

{% macro exitLink(props) %}
    <div class="govuk-grid-column-full">
        <a href="{{ links.exitUrl }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" data-qa="{{props.qa}}">Exit to Digital Prison Services</a>
    </div>
{% endmacro %}

{% macro submittedBadge(props) %}
    <span data-qa="{{props.qa}}" class="govuk-tag govuk-tag--green">{{props.text}}</span>
{% endmacro %}