{# regex to prevent display of 'undefined' which may occur if value depends on answer to a preceding question. Will also prevent 'select' displaying #}
{% set regExp = r/^(?:undefined.*|select.*)/i %}  

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row ">
    <dt class="govuk-summary-list__key govuk-heading-l border-bottom-none">
      Relocation and injuries
    </dt>
    <dd class="govuk-summary-list__value border-bottom-none">
    </dd>
    <dd class="govuk-summary-list__actions border-bottom-none">
      <a class="govuk-link" href="/form/incident/relocationAndInjuries/{{ bookingId}}">
        Change<span class="govuk-visually-hidden"> Relocation</span>
      </a>
    </dd>
  </div>

  {% for key, value in data.relocationAndInjuries %}
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">{{key}} </dd>
    <dd class="govuk-summary-list__value"> {% if not regExp.test(value) %} {{value}} {% endif %}</dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  {% endfor %}
</dl>
