{% extends "../../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from  "../../macros.njk" import overdueBadge %}    
{% import "../reportDetailMacro.njk" as reportDetail %} 
{% set pageTitle = 'Use of force incident' %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row no-print">     
    <div class="govuk-grid-column-full"> 
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-!-padding-bottom-0">
        <a href="/{{ data.incidentId }}/view-report" draggable="false" class="govuk-link" data-qa="report-link">
          View report details
        </a>
      </p>
  
      <div class="flex-container-justified">
        <div  style="flex-basis: 60%" >
          {{ reportDetail.reportHeading(data) }}
        </div>
    
        <div class="float-right">
          <a href="javascript:window.print()" class="govuk-link print-link">  Print report and statements  </a>
        </div>
      </div> 
    </div>
    <div class="govuk-grid-column-two-thirds"> 
      <table class="govuk-table" data-qa="statements">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Staff member involved</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for statement in data.statements %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{statement.name }}</td>
              <td class="govuk-table__cell">
                {% if statement.isSubmitted %}
                <a
                  href= {{ '/' + statement.id + '/view-statement' }}
                  draggable="false"
                  class="govuk-link">
                    View statement
                </a>
                {% else %}
                  {% if not statement.isVerified %}
                    <span data-qa="unverified" class="govuk-tag moj-tag--black govuk-!-margin-right-3">EMAIL NOT VERIFIED</span>
                  {% endif %}
                  {% if statement.isOverdue %}
                    {{ 
                      overdueBadge({
                        text: 'OVERDUE', 
                        qa: 'overdue' 
                      }) 
                    }}                  
                  {% endif %}
                {% endif %}
              </td>
            </tr>  
            {% endfor %}

        </tbody>
      </table>
      <a
        href={{data.tab}}
        draggable="false"
        class="govuk-link"
        data-qa="return-link"
        >
        Return to use of force incidents
      </a>
    </div>
  </div>

  <div class="print"> 
    <!-- header -->
    <h1>Use of force incident number {{ data.incidentId }}</h1>
    <p>{{ reportDetail.reportHeading(data, true) }}</p>

    <!-- report body  -->
    <p>  {{ reportDetail.detail(reportDataForPrint, null, report.incidentId, user, true) }}</p>
  
    <!-- statement narrative and additional comments --> 
    <div class="page-break-before">
      {% for statement in statements %}
        <h1 class="govuk-heading-l">{{ statement.name }}'s statement</h1>
        <p> <span class="govuk-label--s"> Submitted </span> {{statement.submittedDate | formatDate('D MMMM YYYY - HH:mm')}}</p> 
        {{ statement.statement }} 
        <br>
        {% for additionalComments in statement.additionalComments %}
          {{ additionalComments.additionalComment}}
          <br>
        {% endfor %}
      <hr>
      {% endfor %}
    </div> 
  </div>
</div>
{% endblock %}
