{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} 
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% import "../reportDetailMacro.njk" as reportDetail %} 

{% set pageTitle = 'Use of force report' %}

{% block beforeContent %}
  {% include "../../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-9 ">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{
          reportDetail.reportHeading(data, print=false)
        }}
      </div>
    </div>

    {{
      reportDetail.detail(data, null, data.incidentId, user)
    }}
    <div class="govuk-!-margin-top-5">
      <a href="/{{ data.incidentId }}/view-statements" class="govuk-link govuk-link--no-visited-state" data-qa="return-to-incident-overview">Return to incident overview</a>
    </div>  
  </div>    
</div>

{% endblock %}
