{% extends "../../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from  "../../macros.njk" import overdueBadge %}    
{% import "../reportDetailMacro.njk" as reportDetail %} 
{% set pageTitle = 'Use of force incident' %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-!-padding-bottom-0">
          <a
            href="/{{ data.incidentId }}/view-report"
            draggable="false"
            class="govuk-link"
            data-qa="report-link"
          >
            View report details
          </a>
        </p>

      {{ reportDetail.reportHeading(data) }}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-full">    

      <table class="govuk-table govuk-!-width-two-thirds" data-qa="statements">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Staff member involved</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
            {% for statement in data.statements %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{statement.name }}</td>
              <td class="govuk-table__cell">
                {% if statement.isSubmitted %}
                <a
                  href= {{ '/' + statement.id + '/view-statement' }}
                  draggable="false"
                  class="govuk-link">
                    View statement
                </a>
                {% else %}
                  {% if not statement.isVerified %}
                    <span data-qa="unverified" class="govuk-tag moj-tag--black govuk-!-margin-right-3">EMAIL NOT VERIFIED</span>
                  {% endif %}
                  {% if statement.isOverdue %}
                    {{ 
                      overdueBadge({
                        text: 'OVERDUE', 
                        qa: 'overdue' 
                      }) 
                    }}                  
                  {% endif %}
                {% endif %}
              </td>
            </tr>  
            {% endfor %}

        </tbody>
      </table>
      <a
        href={{data.tab}}
        draggable="false"
        class="govuk-link"
        data-qa="return-link"
        >
        Return to use of force incidents
      </a>
    </div>
  </div>
</div>
{% endblock %}
