{% extends "../../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} 
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% import "../reportDetailMacro.njk" as reportDetail %} 

{% set pageTitle = 'Use of force report' %}

{% block beforeContent %}
  {% include "../../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-body">
  {% if featureFlagReportEditingEnabled %}
  {% set renderReportView = true %}
  {% set print = false %}
  
  <div class="{% if renderReportView %} govuk-grid-column-full {% else %} govuk-grid-column-three-quarters {% endif %} govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">Use of force incident {{ data.incidentId }}</h1>

    {{ mojSubNavigation({
        label: "Sub navigation",
        items: [{
          text: "Report",
          href: '/' + data.incidentId + '/view-report',
          active: true,
          attributes: {'data-qa':'report-tab'}
        }]
      }) }}

    {{
      reportDetail.detail(data, null, data.incidentId, user, print, renderReportView)
    }}

    {% else %}

    <div class="govuk-grid-column-full govuk-!-margin-bottom-9 ">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{
            reportDetail.reportHeading(data, print=false)
          }}
        </div>
      </div>
  
      {{
        reportDetail.detail(data, null, data.incidentId, user)
      }}

    {% endif %}

    <div class="govuk-!-margin-top-5">
      <a href="/{{ data.incidentId }}/view-statements" class="govuk-link govuk-link--no-visited-state" data-qa="return-to-incident-overview">Return to incident overview</a>
    </div>  
  </div>    
</div>

{% endblock %}
