# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 4

image:
  repository: docker.io/mojdigitalstudio/use-of-force
  tag: latest
  pullPolicy: Always
  port: 3000

ingress:
  enabled: true
  enable_whitelist: true
  host: use-of-force.service.justice.gov.uk
  cert_secret: use-of-force-cert
  path: /

env:
  NOMIS_AUTH_URL: https://gateway.prod.nomis-api.service.hmpps.dsd.io/auth
  NOMIS_OAUTH_PUBLIC_KEY: LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFwSkdtYWp6SW9POVdSY2owM2VTbQpFeWJTYnNJaEdkNkRWVDRxUWFSRTZwN3RIN1ppSklvRWtzczRkOFphMGhuYWJwa0JqWTYwS3NnMW5teXpoZVlSCithWXVtc0gxbm1JcmJ4ZCtqV043T3A2V1pteWRBU3JMek1XWVdBYlNHOHBXMXkxY1RwdkRaMTlBSGJTYTRRL2UKSnRlcDFscCsyMnVHMW5kTVRwclRkNjRLTkcyZnRwcmV3aFExeE5xdmtUWjZoQnVRRVJKMzFhUXBkRThNQTFxSwpDWnI3VDJxTk1BTWNkTlpia0FqRjVLOXE0alZ0QkY3WXFPeXJ0T1JmTldqYUJoWHA5TlN0YWJCTXBURTdQNm8vClhJaU9rcmltNjlzaG1OdDhVRlU3WUlJN0ZvejgzM29HZnk2dmtDRjRxcGpIZ0RNc21STjc1UXRrRmRtaU8xaDgKcHdJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
  ELITE2_API_URL: https://gateway.prod.nomis-api.service.hmpps.dsd.io/elite2api
  EXIT_LOCATION_URL: https://digital.prison.service.justice.gov.uk/
  EMAIL_LOCATION_URL: https://use-of-force.service.justice.gov.uk

whitelist:
  office: '217.33.148.210/32'
  health-kick: '35.177.252.195/32'
  mojvpn: '81.134.202.29/32'
  quantum: '62.25.109.197/32'
  quantum_alt: '212.137.36.230/32'
  digitalprisons1: '52.56.112.98/32'
  digitalprisons2: '52.56.118.154/32'
  j5-phones-1: '35.177.125.252/32'
  j5-phones-2: '35.177.137.160/32'
  dxc-mitcheldean: 195.92.38.16/28
  ark-dom1-ttp1: "195.59.75.0/24"
  ark-dom1-farnborough: "194.33.192.0/24"
  ark-dom1-farnborough-psn: "51.247.3.0/24"
  ark-dom1-corsham: "194.33.196.0/24"
  ark-dom1-corsham-psn: "51.247.4.0/24"
  ark-dom1-non-live-1: "194.33.193.0/25"
  ark-dom1-non-live-2: "194.33.197.0/25"
