{% extends "../../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %} 


{% set pageTitle = name + ' has not verified their email address' %}


{% block content %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    <p>
        {{ name }} will not be able to complete their use of force statement until they have verified their email address. 
    </p>
    <p>
        You should tell {{name}} to verify their email address as soon as possible. They can do this when they sign in to complete their statement.
    </p>
</div>
  <div class="govuk-grid-column-three-quarters">

    <div>
        {{
          govukButton({
            text: 'Continue',
            classes: 'govuk-button',
            href: '/' + reportId + '/view-report',
            attributes: { 'data-qa': 'continue', 'data-submit': true }
          })
        }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
