{% set showBacklink = true %}
{% set backlinkHref = '/' + data.reportId + '/edit-report' %}
{% block content %}
    {# {% include "../../formPages/addingStaff/add-involved-staff.html" %} #}
    {% include "../../formPages/addingStaff/view-add-involved-staff.html" %}
{% endblock %}
