{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import "../statementDetailMacro.njk" as statementDetail %} 

{% set pageTitle = 'Add a comment to your statement' %}

{% block beforeContent %}
  {% include "../../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-body">
  {% if errors.length > 0 %}
  {{
    govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}
  <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>

  {{ statementDetail.detail(data, false) }}

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{
          govukTextarea({
            id: 'additionalComment',
            name: 'additionalComment',
            rows: 15,
            cols: 200,
            attributes: { 'data-qa': 'additional-comment' },
            label: {
              text: 'Additional comments',
              classes: 'govuk-label--m govuk-!-margin-top-4'
            }          
          })
        }}
      </div>
    </div>

    {{
      govukButton({
        text: 'Save additional comment',
        name: 'submit',
        value: 'submit',
        classes: 'govuk-button  govuk-!-margin-top-5',
        attributes: { 'data-qa': 'save' }
      })
    }}
    {{
      govukButton({
        text: 'Cancel',
        href:  '/' + data.reportId + '/your-statement',
        classes: 'govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-margin-top-5',
        attributes: { 'data-qa': 'cancel' }
      })
    }}
  </form>
</div>
{% endblock %}