{% extends "../../partials/prisonerBannerLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/textarea/macro.njk" import govukTextarea %} 
{% from "govuk/components/input/macro.njk" import govukInput %} 
{% from "govuk/components/select/macro.njk" import govukSelect %} 
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %} 
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} 
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %} 
{% import "../statementDetailMacro.njk" as statementDetail %}

{% set pageTitle = 'Check your statement before submitting it' %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }} </h1>
    </div>
  </div>

  {{ statementDetail.detail(data, false) }}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-label--s govuk-!-margin-bottom-0">By sending this statement you agree that:</p>
      <ul class="govuk-!-margin-top-1">
        <li>it is correct to the best of your knowledge</li>
        <li>you wrote it independent of other staff involved in the incident</li>
        <li>you have signed this statement electronically by selecting 'accept and send'</li>
      </ul>
    </div>
  </div>

  <div class="govuk-!-margin-top-6">
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {{
        govukButton({
          text: 'Accept and send',
          name: 'submit',
          classes: 'govuk-button',
          attributes: { 'data-qa': 'submit' }
        })
      }}

      <br/>
      
      <a href="/your-statements" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" data-qa="save-and-complete-later">Save and complete later</a>
    </form>
  </div>
</div>

{% endblock %}
