{% extends "../../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/textarea/macro.njk" import govukTextarea %} 
{% from "govuk/components/input/macro.njk" import govukInput %} 
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %} 
{% from "govuk/components/checkboxes/macro.njk"import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %} 

{% block content %}
<div class="govuk-body">
  {% if errors.length > 0 %}
  {{
    govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}
  <h1 class="govuk-heading-xl mainHeading">Your use of force statement</h1>

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full ">
        <p class="govuk-!-margin-bottom-1 govuk-label--xs">Prisoner</p>
        <p class="govuk-!-margin-bottom-1 govuk-label--s" data-qa="offender-name">
          {{ data.displayName }} ({{ data.offenderNo }})
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-!-margin-bottom-1 govuk-label--xs">Date and time of incident</p>
        <p class="govuk-!-margin-bottom-1 govuk-label--s" data-qa="date-and-time">
          {{ data.incidentDate | formatDate('DD MMMM YYYY - HH:mm')  }}
        </p>
      </div>
    </div>
    <hr />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half govuk-!-margin-top-5">
        {% call govukFieldset({ legend: { text: "When did you last attend control and restraint basic refresher
        training?", classes: "govuk-fieldset__legend--s govuk-!-width-two-thirds"} }) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{
              govukSelect({
                id: 'lastTrainingMonth',
                name: 'lastTrainingMonth',
                label: {
                  text: 'Month'
                },
                errorMessage: errors | findError('lastTrainingMonth'),
                items: data.months | toSelect('value', 'label', data.lastTrainingMonth)
              })
            }}
          </div>
          <div class="govuk-grid-column-one-half">
          {{
            govukInput({
              id: 'lastTrainingYear',
              name: 'lastTrainingYear',
              value: data.lastTrainingYear,
              classes: 'govuk-!-width-one-quarter',
              label: {
                text: 'Year'
              },
              errorMessage: errors | findError('lastTrainingYear')
            })
          }}
        </div>
      </div>
      {% endcall %}
      </div>
      <div class="govuk-grid-column-one-half govuk-!-margin-top-8">
        {% call govukFieldset({ 
          legend: { 
            text: "What year did you join the prison service?", 
            classes: "govuk-fieldset__legend--s govuk-!-width-two-thirds"} 
          }) 
        %}
        {{
          govukInput({
            id: 'jobStartYear',
            name: 'jobStartYear',
            value: data.jobStartYear,
            classes: 'govuk-!-width-one-quarter',
            label: {
              text: 'Year'
            },
            errorMessage: errors | findError('jobStartYear')
          })
        }}
        {% endcall %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{
          govukTextarea({
            id: 'statement',
            name: 'statement',
            value: data.statement,
            rows: 25,
            cols: 440,
            label: {
              text: 'Write your statement',
              classes: 'govuk-label--s govuk-!-margin-top-4'
            },
            errorMessage: errors | findError('statement')
          })
        }}
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-label--s">What to include in your statement</h3>
        <p>
          You should include:
        </p>
        <ul>
          <li>time and date of the incident</li>
          <li>when you became aware of the incident</li>
          <li>your initial understanding of what was happening</li>
          <li>details given at initial briefing (if planned)</li>
          <li>what you knew about the prisoner</li>
          <li>what you saw</li>
          <li>who was there (staff and prisoners)</li>
          <li>how the prisoner was behaving, including any unusual behaviour</li>
          <li>what the prisoner was saying and doing</li>
          <li>how you were feeling at the time (shocked/upset/fearful)</li>
          <li>your role in the team and incident</li>
          <li>any non control and restraint techniques used</li>
          <li>attempts to de-esculate and how successful they were</li>
          <li>a detailed account of how you applied force</li>
          <li>details of communication between staff and prisoner</li>
          <li>use of handcuffs - when they were placed on and removed</li>
          <li>how and where the prisoner was relocated</li>
          <li>any injuries to staff and prisoner</li>
        </ul>
      </div>
    </div>
   
    {{
      govukButton({
        text: 'Save and continue',
        name: 'submit',
        value: 'save-and-continue',
        classes: 'govuk-button',
        attributes: { 'data-qa': 'submit' }
      })
    }}
    {{
      govukButton({
        text: 'Save and return',
        name: 'submit',
        value: 'save-and-return',
        classes: 'govuk-button govuk-button--secondary govuk-!-margin-left-3',
        attributes: { 'data-qa': 'return-to-tasklist' }
      })
    }}
  </form>
</div>
{% endblock %}
