{% extends "../../partials/layout.html" %} 
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = 'Your request has been submitted' %}

{% block content %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: pageTitle
    }) }}
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>A use of force coordinator will review your request to be removed.</p>
    <p>You'll receive an an email to confirm if you have been removed from this incident.</p>
  </div>
</div>
{% endblock %}
