{% extends "../../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = 'Request to be removed from a use of force incident' %}

{% block content %}
<div class="govuk-grid-row govuk-body">
  {% if errors.length > 0 %}
  {{
    govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9 no-print">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p>You have been named as being involved in a use of force incident. If you believe you have been incorrectly named in this incident, you can request to be removed.</p>
      <p>Your request will be sent to the use of force coordinator to review.</p>
    <h1 class="govuk-heading-xl">Incident details</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Date of incident"
          },
          value: {
            classes: "incidentDate",
            text: report.incidentDate | formatDate('D MMMM YYYY')
          }
        },
        {
          key: {
            text: "Time of incident"
          },
          value: {
            classes: "incidentTime",
            text: report.incidentDate | formatDate('HH:mm')
          }
        },
        {
          key: {
            text: "Prison"
          },
          value: {
            classes: "prisonName",
            html: report.prisonName
          }
        }
      ]
    }) }}
    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <input type="hidden" name="signature" value="{{ signature }}" />
      
      {{ govukTextarea({
        name: "reason",
        id: "reason",
        label: {
          text: "Why should you be removed from this incident?"
        },
        errorMessage: errors | findError('reason')
      }) }}

      {{ govukButton({
        text: "Request to be removed",
        name: 'submit',
        classes: 'govuk-button',
        attributes: { 'data-qa': 'submit' }
      }) }}
    </form>
  </div>
</div>

{% endblock %}
