{% extends "../../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

{{
    govukPanel({
        classes: "govuk-!-width-one-half",
        titleText: "Statement submitted"
    }) 
}}  

  {{ 
    govukButton({
      text: "Finish",
      name: "submit",
      href: '/incidents',
      classes: "govuk-button govuk-button--secondary",
      attributes: {'data-qa': 'finish'}
    })
  }}
{% endblock %} 