{% extends "../../partials/layout.html" %}
{% from  "../../macros.njk" import submitLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk"import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = 'Your use of force statement' %}

{% if errors | findError('lastTrainingYear') %}
{% set lastTrainingYearClass = 'govuk-input--width-4' %}
{% set lastTrainingMonthClass = 'govuk-!-margin-right-3' %}
{% else %}
{% set lastTrainingYearClass = 'govuk-!-margin-left-5 govuk-input--width-4' %}
{% endif %}

{% block beforeContent %}
  {% include "../../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-body">
  {% if errors.length > 0 %}
  {{
    govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}

  <h1 class="govuk-heading-xl mainHeading">{{pageTitle}}</h1>
  
  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-!-margin-bottom-1">
          <span class="govuk-label--s">Prisoner:&nbsp;</span>
          <span data-qa="offender-name"> {{ data.displayName }} </span>
          <br>
          <span class="govuk-label--s">Date and time of incident:&nbsp;</span>
          <span data-qa="date-and-time"> {{ data.incidentDate | formatDate('D MMMM YYYY - HH:mm')  }} </span>
        </p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-5">
        {% call govukFieldset({ 
          legend: { text: "When did you last attend control and restraint basic refresher training?", 
          classes: "govuk-fieldset__legend--s "} 
          }) 
        %}

        <div class="govuk-grid-row govuk-grid-column-three-quarters govuk-!-padding-0">
          <div class="govuk-grid-column-three-quarters flex-container">
            {{
              govukSelect({
                id: 'lastTrainingMonth',
                name: 'lastTrainingMonth',
                classes: lastTrainingMonthClass,
                label: {
                  text: 'Month'
                },
                errorMessage: errors | findError('lastTrainingMonth'),
                items: data.months | toSelect('value', 'label', data.lastTrainingMonth)
              })
            }}
            {{
              govukInput({
                id: 'lastTrainingYear',
                name: 'lastTrainingYear',
                value: data.lastTrainingYear,
                classes: lastTrainingYearClass,
                label: {
                  text: 'Year',
                  classes: lastTrainingYearClass
                },
                errorMessage: errors | findError('lastTrainingYear')
                })
              }}
          </div>
        </div>
        {% endcall %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-1">

        {% call govukFieldset({ 
          legend: { 
            text: "What year did you join the prison service?", 
            classes: "govuk-fieldset__legend--s govuk-!-width-two-thirds"} 
          }) 
        %}
        {{
          govukInput({
            id: 'jobStartYear',
            name: 'jobStartYear',
            value: data.jobStartYear,
            classes: 'govuk-input--width-4',
            label: {
              text: 'Year'
            },
            errorMessage: errors | findError('jobStartYear')
          })
        }}
        {% endcall %}
      </div>
    </div>
    <hr />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{
          govukTextarea({
            id: 'statement',
            name: 'statement',
            value: data.statement,
            rows: 25,
            cols: 440,
            label: {
              text: 'Write your statement',
              classes: 'govuk-label--s govuk-!-margin-top-4'
            },
            errorMessage: errors | findError('statement')
          })
        }}
      </div>
      <div class="govuk-grid-column-one-half govuk-body">
        <h3 class="govuk-label--s">What to include in your statement</h3>
        <p>
          You should include:
        </p>
        <ul>
          <li>time and date of the incident</li>
          <li>when you became aware of the incident</li>
          <li>your initial understanding of what was happening</li>
          <li>details given at initial briefing (if planned)</li>
          <li>what you knew about the prisoner</li>
          <li>what you saw, any risks you perceived and the risk of doing nothing</li>
          <li>who was there (staff and prisoners)</li>
          <li>how the prisoner was behaving, including any unusual behaviour</li>
          <li>what the prisoner was saying and doing, and any non-verbal gestures or communication</li>
          <li>how you were feeling at the time</li>
          <li>your role in the team and incident</li>
          <li>any non control and restraint techniques used</li>
          <li>if body-worn video camera was not activated, please explain why</li>
          <li>attempts to de-escalate and how successful they were</li>
          <li>a detailed account of how you applied force</li>
          <li>details of communication between staff and prisoner</li>
          <li>use of handcuffs - when they were placed on and removed</li>
          <li>how and where the prisoner was relocated</li>
          <li>any injuries to staff and prisoner</li>

        </ul>
      </div>
    </div>

    {{
      govukButton({
        text: 'Save and continue',
        name: 'submitType',
        value: 'save-and-continue',
        classes: 'govuk-button',
        attributes: { 'data-qa': 'submit' }
      })
    }}
    <br/>
    {{ 
      submitLink({
        label: 'Save and complete later', 
        qa: 'return-to-your-statements', 
        value: 'save-and-return'
      }) 
    }}
  </form>
</div>
{% endblock %}