{% extends "../../partials/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import "../statementDetailMacro.njk" as statementDetail %}

{% set pageTitle = 'Your use of force statement' %}

{% block content %}

<div class="govuk-body">
  <div class="no-print">
    <h1 class="govuk-heading-xl mainHeading">{{ pageTitle }}</h1>

    <div class="float-right">
      <a href="javascript:window.print()" class="govuk-link print-link">  Print statement  </a>
    </div>

    {{ statementDetail.detail(data, true) }}

    {{
        govukButton({
          text: 'Continue',
          name: 'continue',
          href: '/your-statements',
          classes: 'govuk-button  govuk-!-margin-top-5',
          attributes: { 'data-qa': 'continue' }
        })
      }}

    {{
      govukButton({
        text: 'Add comment',
        href:  '/' + data.reportId + '/add-comment-to-statement',
        classes: 'govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-margin-top-5',
        attributes: { 'data-qa': 'add-comment' }
      })
    }}
  </div>

  <div class="print">
    <h2 class="govuk-!-margin-top-0"> Your use of force statement </h2>
    {{ statementDetail.detail(data, true) }}
  </div>
</div>

{% endblock %}