{% extends "../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "./reportDetailMacro.njk" as reportDetail %} 

{% set pageTitle = 'Check your answers before sending the report' %}

{% block content %}

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9 ">
    <h1 class="govuk-heading-xl"> {{pageTitle}} </h1>
    {{
      reportDetail.detail(data, bookingId, null, user, prison)
    }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Now send the report</h2>
    <p>
      By sending this report you are confirming that, to the best of your knowledge, the details you are providing are
      correct.
    </p>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{
        govukButton({
          text: 'Accept and send',
          classes: 'govuk-button',
          attributes: { 'data-submit': true }
        })
      }}

      <div>
        <a href="/report/{{ bookingId }}/report-use-of-force" class="govuk-link govuk-link--no-visited-state" data-qa="return-to-tasklist">Save and complete later</a>
      </div> 
    </form>
  </div>
</div>

{% endblock %}
