{% extends "../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} 
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% import "./pagesMacros.njk" as pagesMacros %} 
{% import "./reportDetailMacro.njk" as reportDetail %} 

{% set pageTitle = 'Check your answers before sending the report' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-9 ">
    <h1 class="govuk-heading-xl"> {{pageTitle}} </h1>
    {{
      reportDetail.detail(data, bookingId, null, user)
    }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Now send the report</h2>
    <p class="govuk-body">
      By sending this report you are confirming that, to the best of your knowledge, the details you are providing are
      correct.
    </p>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{
        govukButton({
          text: 'Accept and send',
          classes: 'govuk-button',
          attributes: { 'data-submit': true }
        })
      }}

      {{
        govukButton({
          text: 'Return to report use of force',
          name: 'submit',
          href: '/report/' + bookingId + '/report-use-of-force',
          classes: 'govuk-button govuk-button--secondary govuk-!-margin-left-3',
          attributes: { 'data-qa': 'return-to-tasklist' }
        })
      }}
    </form>
  </div>
</div>

{% endblock %}
