{% extends "../partials/layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "table/macro.njk"
import govukTable %} {% block content %}
<h1 class="govuk-heading-xl mainHeading">Use of force incidents</h1>

{{
  govukTable({
    caption: 'Not completed',
    head: [
      {
        text: 'Date',
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: 'Prisoner',
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: 'Use of force reporter',
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: '',
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: '12/01/2018 - 13:20'
        },
        {
          text: 'Mark Andrews'
        },
        {
          text: 'Jane Smith'
        }, 
        {
          html: govukButton({
            text: 'Start now',
            name: 'submit',
            href: '/incidents/-1/statement',
            classes: 'govuk-button',
            attributes: { 'data-qa': 'return-to-tasklist' }
          })
        }
      ]
    ]
  })
}}

{% endblock %}
