
 {% macro sectionHeading(obj) %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-7">
    {{obj.title}}
    {% if obj.url %}  
      <span class="govuk-body govuk-!-margin-top-1 float-right">
        <a class="govuk-link" data-qa='{{obj.id}}-link' href='{{obj.url}}' >
          Change<span class="govuk-visually-hidden"> {{obj.title}} </span>
        </a>
      </span>
    {% endif %}
  </h2>
{% endmacro %}

{% macro tableRow(dataItem) %}
 <dl class="govuk-summary-list govuk-!-margin-0">  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"> {{dataItem.label}} </dt>
    <dd class="govuk-summary-list__value" data-qa="{{dataItem['data-qa']}}">
      {% if dataItem.dataValue.length === 0 or dataItem.dataValue == null %}
        &ndash;
      {% elif dataItem.dataValue | isArray and dataItem.type === 'itemPerLine' %}
        {%for item in dataItem.dataValue %}
          {%for value in item %}
            {{value}} 
            {% if not loop.last %}<br/>{% endif %}
          {% endfor%}
          <br/>
          {%if item.length > 1 and not loop.last %}
          <br/>
          {% endif %}
        {% endfor %}
      {% else %}
      {{dataItem.dataValue}}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
</div>
  </dl> 
{% endmacro %}