
{% import "./pagesMacros.njk" as pagesMacros %} 

{% macro fieldValue(name, value, dataQa) %}
  <span class="govuk-label--s">{{name}}:&nbsp;</span>
  <span data-qa="{{ dataQa }}"> {{ value }}</span>  
{% endmacro %}

{% macro reportHeading(data) %}
  <div class="govuk-!-margin-bottom-1">
    {{ fieldValue('Created by', data.reporterName, 'reporter-name')  }}
    <br/>
    {{ fieldValue('Date and time', data.submittedDate | formatDate('D MMMM YYYY, HH:mm'), 'submitted-date')  }}
    <br/>
    {{ fieldValue('Prisoner name', data.offenderDetail.displayName, 'prisoner-name')  }}
    <br/>
    {{ fieldValue('Prisoner number', data.offenderDetail.offenderNo, 'prisoner-number')  }}
    <br/>
    {{ fieldValue('Incident number', data.incidentId, 'incident-number')  }}
  </div>    
{% endmacro %}

{% macro reportHeadingWithSpacing(data) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-!-margin-bottom-1">
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Created by', data.reporterName, 'reporter-name')  }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Date and time', data.submittedDate | formatDate('D MMMM YYYY, HH:mm'), 'submitted-date')  }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Prisoner name', data.offenderDetail.displayName, 'prisoner-name')  }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Prisoner number', data.offenderDetail.offenderNo, 'prisoner-number')  }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Incident number', data.incidentId, 'incident-number')  }}
          </p>
      </div>    
    </div>
  </div>
{% endmacro %}

{% macro detail(data, bookingId, incidentId, user, prison) %}
    {{
      pagesMacros.sectionHeading({
        id: 'incidentDetails', 
        title: 'Incident details',
        url:  '/report/' + bookingId + '/edit-incident-details' if bookingId
      })
    }}
    {{pagesMacros.tableRow({
              label: 'Date of incident',  
              'data-qa': 'incidentDate',    
              dataValue: data.incidentDetails.incidentDate | formatDate('D MMMM YYYY')
      })
    }}
    {{pagesMacros.tableRow({
              label: 'Time of incident',  
              'data-qa': 'incidentTime',    
              dataValue: data.incidentDetails.incidentDate | formatDate('HH:mm') 
      })
    }}
    {% if prison %}
      {{
        pagesMacros.tableRow({
          label: 'Prison',
          'data-qa': 'prison',
          dataValue: prison.description
        })
      }}
    {% endif %}
  
    {{
      pagesMacros.tableRow({
        label: 'Location',
        'data-qa': 'location',
        dataValue: data.incidentDetails.location
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was the use of force planned?',
        'data-qa': 'incidentType',
        dataValue: data.incidentDetails.plannedUseOfForce | toYesNo
      })
    }}
    {% call pagesMacros.tableRowWithContent({
        label: 'Staff involved',
        'data-qa': 'staffInvolved'
      })
    %}
    <dd class="govuk-summary-list__value" data-qa="staffInvolved">
        
      {%for item in data.incidentDetails.staffInvolved %}
          {{item.name}} - {{item.username}}
          {%- if user.isCoordinator and item.statementId -%}      
            <a data-qa="delete-staff-{{item.username}}" href="{{'/coordinator/report/' + item.reportId + '/statement/' + item.statementId + '/confirm-delete'}}" class="govuk-link float-right">
              Delete <span class="govuk-visually-hidden">{{item.name}}</span></a>
          {%- endif -%}  
        {% if not loop.last %}<br/>{% endif %}
      {% endfor %} 

      {%- if user.isCoordinator and incidentId -%}
        <br/>
        <a data-qa="add-staff" href="{{'/coordinator/report/' + incidentId + '/add-staff'}}" class="govuk-link">
            Add another member of staff</a>
      {%- endif -%}
    </dd>
    {% endcall %}
    {{
      pagesMacros.tableRow({
        label: 'Witnesses',
        'data-qa': 'witnesses',
        dataValue: data.incidentDetails.witnesses,
        type: 'itemPerLine'
      })
    }}

    {{
      pagesMacros.sectionHeading({
        id: 'useOfForceDetails',
        title: 'Use of force details',
        url:  '/report/' + bookingId + '/edit-use-of-force-details' if bookingId
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was positive communication used to de-escalate the situation?',
        'data-qa': 'positiveCommunication',
        dataValue: data.useOfForceDetails.positiveCommunicationUsed | toYesNo
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Were any personal protection techniques used?',
        'data-qa': 'personalProtection',
        dataValue: data.useOfForceDetails.personalProtectionTechniques | toYesNo
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was a baton drawn?',
        'data-qa': 'batonDrawn',
        dataValue: data.useOfForceDetails.batonDrawn
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was PAVA drawn?',
        'data-qa': 'pavaDrawn',
        dataValue: data.useOfForceDetails.pavaDrawn
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was a guiding hold used?',
        'data-qa': 'guidingHold',
        dataValue: data.useOfForceDetails.guidingHoldUsed | capitalize
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was control and restraint used?',
        'data-qa': 'restraintUsed',
        dataValue: data.useOfForceDetails.controlAndRestraintUsed | capitalize
      })
    }}
    {% if data.useOfForceDetails.painInducingTechniques != undefined  %}
    {{
      pagesMacros.tableRow({
        label: 'Were pain inducing techniques used?',
        'data-qa': 'painInducingTechniques',
        dataValue: data.useOfForceDetails.painInducingTechniques | toYesNo
      })
    }}
    {% endif %}
      {{
      pagesMacros.tableRow({
        label: 'Were handcuffs applied?',
        'data-qa': 'handcuffsApplied',
        dataValue: data.useOfForceDetails.handcuffsApplied | toYesNo
      })
    }}
    {{
      pagesMacros.sectionHeading({
        id: 'relocationAndInjuries',
        title: 'Relocation and injuries',
        url:  '/report/' + bookingId + '/edit-relocation-and-injuries' if bookingId
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Where was the prisoner relocated to?',
        'data-qa': 'prisonerRelocation',
        dataValue: data.relocationAndInjuries.prisonerRelocation | capitalize
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was the prisoner compliant?',
        'data-qa': 'compliancy',
        dataValue: data.relocationAndInjuries.relocationCompliancy
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Who completed the F213 form?',
        'data-qa': 'f213',
        dataValue: data.relocationAndInjuries.f213CompletedBy | title
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Healthcare staff present',
        'data-qa': 'healthcareStaffPresent',
        dataValue: data.relocationAndInjuries.healthcareStaffPresent | title
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Did the prisoner sustain any injuries at the time?',
        'data-qa': 'prisonerInjuries',
        dataValue: data.relocationAndInjuries.prisonerInjuries | toYesNo
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Did the prisoner need outside hospitalisation at the time?',
        'data-qa': 'prisonerHospitalisation',
        dataValue: data.relocationAndInjuries.prisonerHospitalisation | toYesNo
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Staff who needed medical attention',
        'data-qa': 'staffMedicalAttention',
        dataValue: data.relocationAndInjuries.staffMedicalAttention,
        type: 'itemPerLine'
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Staff taken to hospital',
        'data-qa': 'staffHospitalisation',
        dataValue: data.relocationAndInjuries.staffHospitalisation,
        type: 'itemPerLine'
      })
    }}

    {{
      pagesMacros.sectionHeading({
        id: 'evidence',
        title: 'Evidence',
        url:  '/report/' + bookingId + '/edit-evidence' if bookingId
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Evidence bagged and tagged',
        'data-qa': 'evidenceBaggedTagged',
        dataValue: data.evidence.evidenceBaggedTagged,
        type: 'itemPerLine'
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Were any photographs taken?',
        'data-qa': 'photographs',
        dataValue: data.evidence.photographs | toYesNo
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was any part of the incident captured on CCTV?',
        'data-qa': 'cctv',
        dataValue: data.evidence.cctv | capitalize
      })
    }}
    {{
      pagesMacros.tableRow({
        label: 'Was any part of the incident captured on a body-worn camera?',
        'data-qa': 'bodyCameras',
        dataValue: data.evidence.bodyCameras | capitalize
      })
    }}

{% endmacro %}