{% extends "../partials/layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = 'Report use of force' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
    {
        text: "Digital Prison Services",
        href: links.exitUrl
    }
    ],
    classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}

{% macro section(name, label, url, value) %}
<li class="app-task-list__item" data-qa-{{name}}={{value}}>
    {% if url %}
    <a href="{{ url }}" class="govuk-link" data-qa-{{name}}-link>{{ label }}</a>
    {% else %}
    <span>{{ label }}</span>
    {% endif %}
    {% switch value %}
      {% case 'INCOMPLETE' %}
      <strong class="govuk-tag moj-tag--black float-right report-use-of-force-label">IN PROGRESS</strong>
      {% case 'COMPLETE' %}
      <strong class="govuk-tag moj-tag--blue float-right  report-use-of-force-label">COMPLETE</strong>
      {% default %}
    {% endswitch %}
</li>
{% endmacro %}

{% macro field(name, label, value) %}
<p class="govuk-!-margin-bottom-1 govuk-label--s">{{ label }}</p>
<p class="govuk-!-margin-bottom-5 govuk-label--xs" data-qa="{{ name }}">
  {{ value }}
</p>
{% endmacro %}

{% set html %}
<p class="govuk-notification-banner__heading">
    Maintenance work is planned for 14:00 on Tuesday 5 November.
    Use of force may be temporarily unavailable.
</p>
{% endset %}

{% block content %}
{% if featureFlagOutageBannerEnabled %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukNotificationBanner({
            html: html
        }) }}
    </div>
  </div>
{% endif %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl mainHeading  ">{{ pageTitle }}</h1>

    <hr>

      <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0 report-use-of-force-prisoner-image">
        <img
          src="/api/offender/{{ bookingId }}/image"
          height="150"
          width="120"
          alt="Headshot of {{ displayName }}"
          data-qa="offender-image"
        />
      </div>
      <div class="govuk-grid-column-one-half govuk-!-padding-left-0 report-use-of-force-prisoner-name ">
        {{ field(name='offender-name', label='Name', value=data.displayName) }}
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0 report-use-of-force-prisoner-number">
        {{ field(name='nomis-id', label='Prison number', value=data.offenderNo) }}
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0 report-use-of-force-prisoner-dob">
        {{ field(name='dob', label='Date of birth', value=data.dateOfBirth | formatDate('D MMMM YYYY')) }}
      </div>

       <ol class="app-task-list clear-both govuk-!-padding-0">
        <li>
          <ul class="app-task-list__items">

            {{  section(name = "incident-details", 
                      label = "Incident details",  
                      url = "/report/" + bookingId + "/incident-details", 
                      value = status.incidentDetails) }}

            {{  section(name = "staff-involved", 
                      label = "Staff involved",  
                      url = "/report/" + bookingId + "/staff-involved", 
                      value = status.involvedStaff) }}

            {{  section(name = "use-of-force-details", 
                      label = "Use of force details",  
                      url = "/report/" + bookingId + "/why-was-uof-applied", 
                      value = composeStatus(status.useOfForceDetails, status.reasonsForUseOfForce)) }}

            {{  section(name = "relocation-and-injuries", 
                      label = "Relocation and Injuries",  
                      url = "/report/" + bookingId + "/relocation-and-injuries", 
                      value = status.relocationAndInjuries) }}

            {{  section(name = "evidence", 
                      label = "Evidence",  
                      url = "/report/" + bookingId + "/evidence", 
                      value = status.evidence) }}

            {{  section(name = "check-answers", 
                      label = "Check then send report",  
                      url = status.complete and "/report/" + bookingId + '/check-your-answers') }}
            <li>
              <div class="govuk-!-margin-top-8"><a href="{{ links.exitUrl }}" class="govuk-link govuk-!-font-size-19" data-qa="exit-to-dps-link">Exit to Digital Prison Services</a></div> 
            </li>
          </ul>
        </li>
      </ol>
  </div>
</div>

{% endblock %}
