
{% import "./reportDetailSectionsMacros.njk" as reportDetailsMacros %} 

{% macro fieldValue(name, value, dataQa) %}
  <span class="govuk-label--s">{{name}}:&nbsp;</span>
  <span data-qa="{{ dataQa }}"> {{ value }}</span>  
{% endmacro %}

{% macro reportHeading(data, print) %}
  <div class="govuk-grid-row  {% if print %} flex-container {% endif %}">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4 flex-basis-30">
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-label--s">Created by</p>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-label--s">Date and time</p>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-label--s">Prisoner name</p>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-label--s">Prisoner number</p>
        {% if not print  %}
          <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-label--s">Incident number</p>
        {% endif %}
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4 flex-basis-70" >
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0" data-qa="reporter-name"> {{ data.reporterName }} </p>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0" data-qa="submitted-date"> {{ data.submittedDate | formatDate('D MMMM YYYY, HH:mm') }} </p>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0" data-qa="prisoner-name"> {{ data.offenderDetail.displayName }}</p>
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0" data-qa="prisoner-number"> {{ data.offenderDetail.offenderNo }} </p>
        {% if not print  %}
          <p class="govuk-!-margin-top-0" data-qa="incident-number"> {{ data.incidentId }} </p>
        {% endif %}
      </div>
  </div>
{% endmacro %}

{% macro reportHeadingWithSpacing(data) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-!-margin-bottom-1">
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Created by', data.reporterName, 'reporter-name')  }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Date and time', data.submittedDate | formatDate('D MMMM YYYY, HH:mm'), 'submitted-date') }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Prisoner name', data.offenderDetail.displayName, 'prisoner-name') }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Prisoner number', data.offenderDetail.offenderNo, 'prisoner-number') }}
          </p>
          <p class="govuk-!-margin-bottom-1">
            {{ fieldValue('Incident number', data.incidentId, 'incident-number') }}
          </p>
      </div>    
    </div>
  </div>
{% endmacro %}

{% macro detail(data, bookingId, incidentId, user, print) %}
    {{
      reportDetailsMacros.sectionHeading({
        id: 'incidentDetails', 
        title: 'Incident details',
        url:  '/report/' + bookingId + '/incident-details' if bookingId
      })
    }}
    {{reportDetailsMacros.tableRow({
              label: 'Date of incident',  
              'data-qa': 'incidentDate',    
              dataValue: data.incidentDetails.incidentDate | formatDate('D MMMM YYYY'),
        print: print
      })
    }}
    {{reportDetailsMacros.tableRow({
              label: 'Time of incident',  
              'data-qa': 'incidentTime',    
              dataValue: data.incidentDetails.incidentDate | formatDate('HH:mm'),
        print: print 
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Prison',
        'data-qa': 'prison',
        dataValue: data.incidentDetails.prison.description,
        print: print
      })
    }}  
    {{
      reportDetailsMacros.tableRow({
        label: 'Location',
        'data-qa': 'location',
        dataValue: data.incidentDetails.location,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was the use of force planned?',
        'data-qa': 'incidentType',
        dataValue: data.incidentDetails.plannedUseOfForce | toYesNo,
        print: print
      })
    }}
    {% if data.incidentDetails.authorisedBy %}
      {{
      reportDetailsMacros.tableRow({
          label: 'Authorised by',
          'data-qa': 'authorisedBy',
          dataValue: data.incidentDetails.authorisedBy,
          print: print
        })
      }}
    {% endif %}
    {{
      reportDetailsMacros.tableRow({
        label: 'Witnesses',
        'data-qa': 'witnesses',
        dataValue: data.incidentDetails.witnesses,
        type: 'itemPerLine',
        print: print
      })
    }}

    {{
      reportDetailsMacros.sectionHeading({
        id: 'staffInvolved',
        title: 'Staff involved',
        url:  '/report/' + bookingId + '/staff-involved' if bookingId
      })  
    }}
    <ol data-qa="staffInvolved" class="govuk-!-margin-top-1 involved-staff staff-involved-padding">
   
    {%for item in data.incidentDetails.staffInvolved|sort(true, true, 'isReporter') %}
      <li class="govuk-!-margin-bottom-1 govuk-!-padding-top-2 govuk-!-padding-bottom-2 staff-involved-border">
      {{item.name}} ({{item.username}})

      {%- if not print and user.isCoordinator and not item.isReporter and item.statementId -%}      
        <a data-qa="delete-staff-{{item.username}}" href="{{'/coordinator/report/' + item.reportId + '/statement/' + item.statementId + '/confirm-delete'}}" class="govuk-link float-right">
          Delete <span class="govuk-visually-hidden">{{item.name}}</span></a>
      {%- endif -%}  
      </li>
    {% endfor %} 
    </ol>
    {%- if not print and user.isCoordinator and incidentId -%}
      <a data-qa="add-staff" href="{{'/coordinator/report/' + incidentId + '/add-staff'}}" class="govuk-link">
        Add another member of staff
      </a>
    {%- endif -%}
    
    {{
      reportDetailsMacros.sectionHeading({
        id: 'useOfForceDetails',
        title: 'Use of force details',
        url:  '/report/' + bookingId + '/why-was-uof-applied' if bookingId
      })
    }}
    {% if data.useOfForceDetails.reasonsForUseOfForce %}
      {{
      reportDetailsMacros.tableRow({
          label: 'Why was use of force applied?',
          'data-qa': 'reasonsForUseOfForce',
          dataValue: data.useOfForceDetails.reasonsForUseOfForce,
          print: print
        })
      }}
    {% endif %}
    {% if data.useOfForceDetails.primaryReason %}
      {{
      reportDetailsMacros.tableRow({
          label: 'What was the primary reason use of force was applied?',
          'data-qa': 'primaryReason',
          dataValue: data.useOfForceDetails.primaryReason,
          print: print
        })
      }}
    {% endif %}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was positive communication used to de-escalate the situation?',
        'data-qa': 'positiveCommunication',
        dataValue: data.useOfForceDetails.positiveCommunicationUsed | toYesNo,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Were any personal protection techniques used?',
        'data-qa': 'personalProtection',
        dataValue: data.useOfForceDetails.personalProtectionTechniques | toYesNo,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was a baton drawn by anyone during this incident?',
        'data-qa': 'batonDrawn',
        dataValue: data.useOfForceDetails.batonDrawn,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was PAVA drawn by anyone during this incident?',
        'data-qa': 'pavaDrawn',
        dataValue: data.useOfForceDetails.pavaDrawn,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was a guiding hold used?',
        'data-qa': 'guidingHold',
        dataValue: data.useOfForceDetails.guidingHoldUsed | capitalize,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was control and restraint used?',
        'data-qa': 'restraintUsed',
        dataValue: data.useOfForceDetails.controlAndRestraintUsed | capitalize,
        print: print
      })
    }}
    
    {# painInducingTechniques was not a question in earlier iterations of the app hence the 'if' to accommodate backwards compatibility #}
    {% if data.useOfForceDetails.painInducingTechniques != undefined  %}
      {{
        reportDetailsMacros.tableRow({
          label: 'Were pain inducing techniques used?',
          'data-qa': 'painInducingTechniques',
          dataValue: data.useOfForceDetails.painInducingTechniques | capitalize,
          print: print
        })
      }}
    {% endif %}
      {{
      reportDetailsMacros.tableRow({
        label: 'Were handcuffs applied?',
        'data-qa': 'handcuffsApplied',
        dataValue: data.useOfForceDetails.handcuffsApplied | toYesNo,
        print: print
      })
    }}
    {{
      reportDetailsMacros.sectionHeading({
        id: 'relocationAndInjuries',
        title: 'Relocation and injuries',
        url:  '/report/' + bookingId + '/relocation-and-injuries' if bookingId,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Where was the prisoner relocated to?',
        'data-qa': 'prisonerRelocation',
        dataValue: data.relocationAndInjuries.prisonerRelocation | capitalize,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was the prisoner compliant?',
        'data-qa': 'compliancy',
        dataValue: data.relocationAndInjuries.relocationCompliancy,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Who completed the F213 form?',
        'data-qa': 'f213',
        dataValue: data.relocationAndInjuries.f213CompletedBy | title,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Healthcare staff present',
        'data-qa': 'healthcareStaffPresent',
        dataValue: data.relocationAndInjuries.healthcareStaffPresent | title,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Did the prisoner sustain any injuries at the time?',
        'data-qa': 'prisonerInjuries',
        dataValue: data.relocationAndInjuries.prisonerInjuries | toYesNo,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Did the prisoner need outside hospitalisation at the time?',
        'data-qa': 'prisonerHospitalisation',
        dataValue: data.relocationAndInjuries.prisonerHospitalisation | toYesNo,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Staff who needed medical attention',
        'data-qa': 'staffMedicalAttention',
        dataValue: data.relocationAndInjuries.staffMedicalAttention,
        type: 'itemPerLine',
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Staff taken to hospital',
        'data-qa': 'staffHospitalisation',
        dataValue: data.relocationAndInjuries.staffHospitalisation,
        type: 'itemPerLine',
        print: print
      })
    }}

    {{
      reportDetailsMacros.sectionHeading({
        id: 'evidence',
        title: 'Evidence',
        url:  '/report/' + bookingId + '/evidence' if bookingId
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Evidence bagged and tagged',
        'data-qa': 'evidenceBaggedTagged',
        dataValue: data.evidence.evidenceBaggedTagged,
        type: 'itemPerLine',
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Were any photographs taken?',
        'data-qa': 'photographs',
        dataValue: data.evidence.photographs | toYesNo,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was any part of the incident captured on CCTV?',
        'data-qa': 'cctv',
        dataValue: data.evidence.cctv | capitalize,
        print: print
      })
    }}
    {{
      reportDetailsMacros.tableRow({
        label: 'Was any part of the incident captured on a body-worn camera?',
        'data-qa': 'bodyCameras',
        dataValue: data.evidence.bodyCameras | capitalize,
        print: print
      })
    }}

{% endmacro %}