{% extends "../partials/layout.html" %} {% macro section(name, label, url, value) %}
<li class="app-task-list__item">
  <a href="{{ url }}" class="govuk-link" data-qa-{{name}}-link>{{ label }}</a>
  {% if value %}
  <strong class="govuk-tag app-task-list__task-completed" data-qa-{{name}}-completed>Completed</strong>
  {% endif %}
</li>
{% endmacro %} {% macro field(name, label, value) %}
<p class="govuk-!-margin-bottom-1 govuk-label--xs">{{ label }}</p>
<p class="govuk-!-margin-bottom-5 govuk-label--s" data-qa="{{ name }}">
  {{ value }}
</p>
{% endmacro %} {% block content %}
<h1 class="govuk-heading-xl mainHeading">Report use of force</h1>
<div class="govuk-grid-row govuk-body">
  <hr />
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-column-one-half">
      <img
        src="/api/offender/{{ bookingId }}/image"
        height="150"
        width="120"
        alt="Headshot of {{ displayName }}"
        data-qa="offender-image"
      />
    </div>
    <div class="govuk-grid-column-one-half">
      {{ field(name='offender-name', label='Name', value=data.displayName) }}
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-one-quarter">
      {{ field(name='nomis-id', label='NOMIS ID', value=data.offenderNo) }}
    </div>
    <div class="govuk-grid-column-two-thirds">
      {{ field(name='dob', label='Date of Birth', value=data.dateOfBirth | formatDate('D MMMM YYYY')) }}
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-body">
  <ol class="app-task-list">
    <li>
      <ul class="app-task-list__items">
        {{  section(name = "new-incident", 
                  label = "Incident details",  
                  url = "/report/" + bookingId + "/incident-details", 
                  value = form.incidentDetails) }}

        {{  section(name = "details", 
                  label = "Use of force details",  
                  url = "/report/" + bookingId + "/use-of-force-details", 
                  value = form.useOfForceDetails) }}

        {{  section(name = "relocation-and-injuries", 
                  label = "Relocation and Injuries",  
                  url = "/report/" + bookingId + "/relocation-and-injuries", 
                  value = form.relocationAndInjuries) }}

        {{  section(name = "evidence", 
                  label = "Evidence",  
                  url = "/report/" + bookingId + "/evidence", 
                  value = form.evidence) }}

        {{  section(name = "check-answers", 
                  label = "Check then send report",  
                  url = "/report/" + bookingId + '/check-your-answers') }}
      </ul>
    </li>
  </ol>
</div>
{% endblock %}
