{% extends "../partials/layout.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %} 
{% from "govuk/components/panel/macro.njk" import govukPanel %} 

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: backLink or "/check-answers/" + bookingId
}) }}

{% endblock %} {% block content %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukPanel({
        titleText: 'This report has been sent to the use of force coordinator'
      })
    }}
    <p>You need to write your statement.</p>
    <p>We will email all officers and witnesses involved to ask them to write their statements.</p>

    {{
      govukButton({
        text: 'Continue to statement',
        href: '/incidents/' + reportId + '/statement',
        classes: 'govuk-button tableButton ',
        attributes: { 'data-qa': 'continue-to-statement' }
      })
    }}
  </div>
</div>
{% endblock %}
