{% extends "../partials/incidentPage.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from  "../macros.njk" import overdueBadge %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% block tabContent %}
<section class="govuk-tabs__panel">

{% if pageData.totalPages > 1 %}
  {{ mojPagination( pageData | toPagination ) }}
{% endif %} 
  

{% if statements.length %}
<table class="govuk-table incidents govuk-!-margin-bottom-3" data-qa="statements">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-!-width-one-sixth" scope="col">Incident date</th>
      <th class="govuk-table__header app-!-width-one-sixth" scope="col">Prisoner</th>
      <th class="govuk-table__header app-!-width-one-sixth" scope="col">Prison number</th>
      <th class="govuk-table__header app-!-width-one-sixth" scope="col">Reporter</th>
      <th class="govuk-table__header app-!-width-one-sixth" scope="col"></th>
      <th class="govuk-table__header app-!-width-one-sixth" scope="col"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
      {% for statement in statements %}
      <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{statement.incidentdate | formatDate('D MMMM YYYY')}}</td>
          <td class="govuk-table__cell">{{statement.offenderName}}</td>
          <td class="govuk-table__cell">{{statement.offenderNo}}</td>
          <td class="govuk-table__cell">{{statement.staffMemberName}}</td>
          <td class="govuk-table__cell govuk-!-padding-top-{{ 1 if statement.status == 'PENDING' else 3 }}">
            {% switch statement.status %}
              {% case 'PENDING' %}
                <a
                  href="/{{ statement.id }}/write-your-statement"
                  role="button"
                  draggable="false"
                  class="govuk-button {{'govuk-button--secondary' if statement.inProgress else 'govuk-button' }} govuk-!-width-three-quarters">
                  {{- 'Continue' if statement.inProgress else 'Start' -}}<span class="govuk-visually-hidden"> statement</span>
                </a>
              {% case 'SUBMITTED' %}
                <a
                  href="/{{ statement.id }}/your-statement"
                  draggable="false"
                  class="govuk-link">
                  View statement
                </a>
            {% endswitch %}
          </td>
          <td class="govuk-table__cell">
            {% if statement.isOverdue %}
            {{ 
              overdueBadge({
                text: 'OVERDUE', 
                qa: 'overdue' 
              }) 
            }}                  
            {% endif %}
          </td>
      </tr>  
      {% endfor %}
  </tbody>
</table>


{% else %}
<p class="govuk-body">You have no statements</p>
{% endif %}

{% if pageData.totalPages > 1 %}
  {{ mojPagination( pageData | toPagination ) }}
{% endif %}

</section>
{% endblock %}
