{% extends "../partials/incidentPage.html" %} 
{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/table/macro.njk" import govukTable %} 

{% block tabContent %}
<section class="govuk-tabs__panel">
  {% if reports.length %}
  <table class="govuk-table incidents" data-qa="reports">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Incident date</th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Prisoner</th>
        <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Prison number</th>
        <th class="govuk-table__header govuk-!-width-one-third" scope="col"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
        {% for report in reports %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{report.incidentdate | formatDate('D MMMM YYYY')}}</td>
            <td class="govuk-table__cell">{{report.offenderName}}</td>
            <td class="govuk-table__cell">{{report.offenderNo}}</td>
            <td class="govuk-table__cell govuk-!-padding-top-{{ 1 if report.status == 'IN_PROGRESS' else 3 }}">
              {% if report.status == 'IN_PROGRESS' %}
                <a
                  href="/report/{{ report.bookingId }}/report-use-of-force"
                  role="button"
                  draggable="false"
                  class="govuk-button govuk-!-width-one-third">
                  Continue
                </a>
              {% else %}
                <a
                  href="/{{ report.id }}/your-report"
                  draggable="false"
                  class="govuk-link govuk-!-padding-left-2">
                  View report
                </a>
              {% endif %}
            </td>
        </tr>  
        {% endfor %}

    </tbody>
  </table>
  {% else %}
    <p data-qa=no-reports class="govuk-body">You have no reports</p>
  {% endif %}
</section>
{% endblock %}
